Repository kubean-io/kubean, pull requests merged in 2022-10, with the labels that each got.

#186 add sysctl config
  artifacts/demo/vars-conf-cm.yml
  artifacts/offlineDemo/vars-conf-cm.yml
Labels: kind/feature, approved, lgtm

#188 check DataRef in KubeanCluster
  pkg/controllers/clusterops/controller.go
  pkg/controllers/clusterops/controller_test.go
Labels: kind/bug, approved, lgtm

#190 Fix install charts bug
  .github/workflows/auto-release-ci.yaml
  .github/workflows/call-offline-build.yaml
  api/charts/crds/kubean.io_kubeanclusterops.yaml
  api/charts/crds/kubean.io_kubeanclusters.yaml
  api/charts/crds/kubean.io_kubeaninfomanifests.yaml
  api/charts/crds/kubean.io_kubeanofflineversions.yaml
  api/hack/update-crdgen.sh
  artifacts/manage_version_cr.sh
  artifacts/template/kubeaninfomanifest.template.yml
  charts/kubean/README.md
  charts/kubean/_crs/.gitkeep
  charts/kubean/crds/kubean.io_kubeanclusterops.yaml
  charts/kubean/crds/kubean.io_kubeanclusters.yaml
  charts/kubean/crds/kubean.io_kubeaninfomanifests.yaml
  charts/kubean/crds/kubean.io_kubeanofflineversions.yaml
  charts/kubean/templates/customresourcedefinitions.yaml
Labels: kind/bug, approved, lgtm

#192 postback kubeconfig by playbook
  Makefile
  README.md
  artifacts/demo/kubeanClusterOps.yml
  pkg/util/entrypoint/entrypoint.go
  pkg/util/entrypoint/entrypoint.sh.template
  pkg/util/entrypoint/entrypoint_test.go
  playbooks/kubeconfig.yml
Labels: kind/feature, approved, lgtm

#189 1. new case: calico IPIP mode;2. for the k8 upgrade case, spray-job s…
  hack/run-sonobouy-e2e.sh
  test/common/vars-conf-cm.yml
  test/kubean_calico_e2e/e2e-install-calico-cluster/hosts-conf-cm.yml
  test/kubean_calico_e2e/e2e-install-calico-cluster/kubeanClusterOps.yml
  test/kubean_calico_e2e/kubean_network_calico_test.go
  test/kubean_calico_e2e/kubean_suite_test.go
  test/tools/utils.go
Labels: kind/feature, lgtm

#193 add manual CI
  .github/workflows/auto-main-ci.yaml
  .github/workflows/auto-release-ci.yaml
  .github/workflows/call-image-build-kubespray.yaml
  .github/workflows/call-images-build.yaml
  .github/workflows/call-offline-build.yaml
Labels: kind/feature, approved, lgtm

#196 os compatible testing framework include shell scripts and workflow
  .github/workflows/os_e2e_schedule.yaml
  hack/e2e.sh
  hack/os-compitable-e2e.sh
  hack/os_vagrantfiles/Vagrantfile_rhel84
  hack/util.sh
  test/kubean_oscompitable_e2e/e2e-install-cluster/hosts-conf-cm.yml
  test/kubean_oscompitable_e2e/e2e-install-cluster/kubeanClusterOps.yml
  test/kubean_oscompitable_e2e/kubean_cluster_install_test.go
  test/kubean_oscompitable_e2e/kubean_suite_test.go
Labels: kind/feature, approved, lgtm

#197 Add dockerfile for CI that builds rh8 os package
  .github/workflows/auto-release-ci.yaml
  .github/workflows/call-os-pkgs-build.yaml
  build/os-packages/Dockerfile.redhat8
  build/os-packages/packages.yml
Labels: kind/feature, approved, lgtm

#195 struct-omitempty-pointer
  api/apis/kubeaninfomanifest/v1alpha1/types.go
  api/apis/kubeaninfomanifest/v1alpha1/zz_generated.deepcopy.go
  pkg/controllers/infomanifest/controller_test.go
  vendor/kubean.io/api/apis/kubeaninfomanifest/v1alpha1/types.go
  vendor/kubean.io/api/apis/kubeaninfomanifest/v1alpha1/zz_generated.deepcopy.go
Labels: kind/bug, approved, lgtm

#198 CI add trivy and fix the image tag's bug of spray-job
  .github/workflows/call-images-build.yaml
  Makefile
  hack/trivy.sh
Labels: kind/bug, kind/feature, approved

#199 fix set -e bug
  .github/workflows/call-images-build.yaml
  hack/trivy.sh
Labels: kind/bug, approved

#200 Make sure the offline package supports arm64
  .github/workflows/call-images-build.yaml
  .github/workflows/call-offline-build.yaml
  artifacts/generate_offline_package.sh
Labels: kind/feature, approved, lgtm

#201 Modifying trivy does not exit with an error
  hack/trivy.sh
Labels: kind/bug, approved

#203 add offline_patch script
  .gitignore
  artifacts/generate_offline_package.sh
  artifacts/offline_patch.py
Labels: kind/feature, approved, lgtm

#204 fix set-output
  .github/workflows/auto-main-ci.yaml
  .github/workflows/auto-pr-ci.yaml
  .github/workflows/auto-release-ci.yaml
  .github/workflows/call-image-build-kubespray.yaml
  .github/workflows/call-images-build.yaml
Labels: kind/bug, approved, lgtm

#208 add playbook for updating hosts
  .gitignore
  pkg/util/entrypoint/entrypoint.go
  playbooks/update-hosts.yml
Labels: kind/feature, approved, lgtm

#212 Restoring an image from an offline package
  artifacts/generate_offline_package.sh
Labels: approved, lgtm

#213 fix ci
  .github/workflows/call-offline-build.yaml
Labels: kind/bug, approved, lgtm

#216 fix kubeconfig playbook
  charts/kubean/README.md
  doc/offline.zh.md
  playbooks/kubeconfig.yml
Labels: lgtm

#219 remove the kubeconf from crd clusteroperation
  api/apis/clusteroperation/v1alpha1/types.go
  api/charts/crds/kubean.io_clusteroperations.yaml
  charts/kubean/crds/kubean.io_clusteroperations.yaml
  vendor/kubean.io/api/apis/clusteroperation/v1alpha1/types.go
Labels: approved, kind/cleanup, lgtm

#217 trivy : add arch environment download and install
  hack/trivy.sh
Labels: approved, lgtm

#222 add retry when check configmap and secret in operator
  pkg/controllers/clusterops/controller.go
  pkg/controllers/clusterops/controller_test.go
Labels: kind/bug, approved, lgtm

#220 add redhat84 e2e
  doc/test/testcase_details/create_cluster.md
  hack/os-compitable-e2e.sh
  hack/os_vagrantfiles/Vagrantfile_rhel84
  test/kubean_oscompability_e2e/e2e-install-cluster/hosts-conf-cm.yml
  test/kubean_oscompability_e2e/e2e-install-cluster/kubeanClusterOps.yml
  test/kubean_oscompability_e2e/kubean_cluster_redhat84_test.go
  test/kubean_oscompability_e2e/kubean_suite_test.go
  test/tools/config.go
  test/tools/service.go
Labels: approved, lgtm

#223 Optimize e2e scripts
  .github/workflows/auto-pr-ci.yaml
  .github/workflows/e2e_schedule.yaml
  .github/workflows/os_e2e_schedule.yaml
  hack/e2e.sh
  hack/run-e2e.sh
  hack/run-os-compability-e2e.sh
  hack/run-sonobouy-e2e.sh
  hack/sonobouy_e2e.sh
  hack/util.sh
  test/kubeanOps_functions_nightlye2e/backofflimit-clusterops/hosts-conf-cm.yml
  test/kubeanOps_functions_nightlye2e/backofflimit-clusterops/kubeanClusterOps.yml
  test/kubeanOps_functions_nightlye2e/e2e-install-cluster/hosts-conf-cm.yml
  test/kubeanOps_functions_nightlye2e/e2e-install-cluster/kubeanClusterOps.yml
  test/kubeanOps_functions_nightlye2e/kubeanOps_test.go
  test/kubeanOps_functions_nightlye2e/kubean_bol0_test.go
  test/kubeanOps_functions_nightlye2e/kubean_bol1_test.go
  test/kubeanOps_functions_nightlye2e/kubean_bol2_test.go
  test/kubeanOps_functions_nightlye2e/kubean_suite_test.go
  test/kubean_add_remove_worker_nightlye2e/add-worker-node/hosts-conf-cm.yml
  test/kubean_add_remove_worker_nightlye2e/add-worker-node/kubeanClusterOps.yml
  test/kubean_add_remove_worker_nightlye2e/e2e-install-1node-cluster-prikey/hosts-conf-cm.yml
  test/kubean_add_remove_worker_nightlye2e/e2e-install-1node-cluster-prikey/kubeanCluster.yml
  test/kubean_add_remove_worker_nightlye2e/e2e-install-1node-cluster-prikey/kubeanClusterOps.yml
  test/kubean_add_remove_worker_nightlye2e/e2e-install-1node-cluster-prikey/ssh-auth-secret.yml
  test/kubean_add_remove_worker_nightlye2e/kubean_add_remove_worker_test.go
  test/kubean_add_remove_worker_nightlye2e/kubean_suite_test.go
  test/kubean_add_remove_worker_nightlye2e/remove-worker-node/hosts-conf-cm.yml
  test/kubean_add_remove_worker_nightlye2e/remove-worker-node/kubeanClusterOps.yml
  test/kubean_calico_nightlye2e/e2e-install-calico-cluster/hosts-conf-cm.yml
  test/kubean_calico_nightlye2e/e2e-install-calico-cluster/kubeanClusterOps.yml
  test/kubean_calico_nightlye2e/kubean_network_calico_test.go
  test/kubean_calico_nightlye2e/kubean_suite_test.go
  test/kubean_oscompitable_e2e/kubean_cluster_install_test.go
  test/kubean_sonobouy_nightlye2e/e2e-install-cluster-sonobouy/hosts-conf-cm.yml
  test/kubean_sonobouy_nightlye2e/e2e-install-cluster-sonobouy/kubeanClusterOps.yml
  test/kubean_sonobouy_nightlye2e/kubean_cluster_sonobouy_test.go
  test/kubean_sonobouy_nightlye2e/kubean_suite_test.go
Labels: kind/feature, approved, lgtm

#225 fix spray_tag
  .github/workflows/auto-main-ci.yaml
Labels: kind/bug, approved, lgtm

#231 update e2e case
  hack/run-sonobouy-e2e.sh
  test/common/vars-conf-cm.yml
  test/kubean_add_remove_worker_nightlye2e/add-worker-node/kubeanClusterOps.yml
  test/kubean_add_remove_worker_nightlye2e/e2e-install-1node-cluster-prikey/kubeanClusterOps.yml
  test/kubean_add_remove_worker_nightlye2e/remove-worker-node/kubeanClusterOps.yml
  test/kubean_calico_nightlye2e/e2e-install-calico-cluster/kubeanClusterOps.yml
  test/kubean_functions_e2e/e2e-install-cluster/kubeanClusterOps.yml
  test/kubean_sonobouy_nightlye2e/e2e-install-cluster-sonobouy/kubeanClusterOps.yml
  test/kubean_sonobouy_nightlye2e/kubean_cluster_sonobouy_test.go
Labels: kind/feature, approved, lgtm

#234 add pkg/version unit test, for ci pipeline
  pkg/version/version_test.go
Labels: kind/bug, lgtm

#237 demo uses mirror
  artifacts/demo/kubeanClusterOps.yml
  artifacts/demo/vars-conf-cm.yml
Labels: approved, lgtm, kind/documentation

#242 check test case
  doc/test/kubean_testcase.md
Labels: kind/feature, approved

#241 use mc anonymous
  artifacts/import_files.sh
  artifacts/import_iso.sh
  artifacts/import_ospkgs.sh
Labels: kind/bug, approved, lgtm

#224 same title, but actually they are not the same
  doc/test/testcase_details/create_cluster.md
Labels: lgtm

#244 add doc for offline_patch
  doc/offline.zh.md
Labels: approved, lgtm, kind/documentation

#247 fix job failed and spec.BackoffLimit logic
  pkg/controllers/clusterops/controller.go
Labels: kind/bug, approved, lgtm

#256 add  unit test
  pkg/util/entrypoint/entrypoint_test.go
Labels: kind/feature, approved, lgtm

#257 import iso for arm64
  artifacts/import_iso.sh
Labels: kind/bug, approved

#258 update case md
  doc/test/kubean_testcase.md
Labels: kind/feature, approved, lgtm

#259 add arm CD
  .github/workflows/call-cd.yaml
Labels: kind/feature, approved

#260 fix bugs
  artifacts/import_images.sh
  pkg/controllers/clusterops/controller.go
Labels: kind/bug, approved, lgtm

#264 Add pause image new tag in image list
  artifacts/generate_offline_package.sh
Labels: kind/bug, approved

#265 Select CENTOS8 as a container environment for making an RH8 offline package
  build/os-packages/Dockerfile.centos8
  build/os-packages/Dockerfile.redhat8
  build/os-packages/Dockerfile.redhat8.bak
Labels: kind/feature, approved
