Repository kubean-io/kubean, pull requests merged in 2022-11, with the labels that each got.

#262 update docker os-pkg version
  build/os-packages/packages.yml
Labels: kind/bug, approved, lgtm

#261 cluster info with more retry time
  playbooks/cluster-info.yml
Labels: kind/bug, approved, lgtm

#266 Manifest crd support multi image repo
  api/apis/manifest/v1alpha1/types.go
  api/apis/manifest/v1alpha1/zz_generated.deepcopy.go
  api/charts/crds/kubean.io_manifests.yaml
  charts/kubean/crds/kubean.io_manifests.yaml
  pkg/controllers/infomanifest/controller.go
  pkg/controllers/infomanifest/controller_test.go
  vendor/kubean.io/api/apis/manifest/v1alpha1/types.go
  vendor/kubean.io/api/apis/manifest/v1alpha1/zz_generated.deepcopy.go
Labels: kind/bug, approved

#272 update kubespray default version to v1.24.7
  artifacts/generate_offline_package.sh
  artifacts/manage_version_cr.sh
Labels: kind/feature, approved, lgtm

#273 Disable cn proxy sources to improve kubean image build efficiency
  build/images/kubean-operator/Dockerfile
Labels: kind/feature, approved, lgtm

#267 fix e2e
  hack/e2e.sh
  hack/local-up-kindcluster.sh
  hack/run-os-compatibility-e2e.sh
  hack/util.sh
  test/kubean_os_compatibility_e2e/e2e-install-cluster/hosts-conf-cm.yml
  test/kubean_os_compatibility_e2e/e2e-install-cluster/kubeanClusterOps.yml
  test/kubean_os_compatibility_e2e/kubean_cluster_redhat84_test.go
  test/kubean_os_compatibility_e2e/kubean_suite_test.go
  test/tools/config.go
  test/tools/service.go
Labels: kind/feature, lgtm

#275 add dasu23 into approvers
  OWNERS
Labels: kind/feature, approved

#276 Update offline doc
  doc/offline.zh.md
Labels: kind/bug, approved

#281 Fix temporary version tag issues
  .github/workflows/auto-pr-ci.yaml
  hack/deploy.sh
Labels: kind/bug, approved, lgtm

#274 add version constraints of dependencies in offline case
  doc/offline.zh.md
Labels: approved, kind/documentation

#282 [chroe] Improve the install trivy method
  hack/trivy.sh
Labels: lgtm, kind/flake

#284 add certificated logo
  README.md
  doc/images/certified-kubernetes-color.png
Labels: kind/feature, approved

#285 adjust generate_offline_package to multi harbor projects
  artifacts/generate_offline_package.sh
  artifacts/import_images.sh
  artifacts/offlineDemo/vars-conf-cm.yml
Labels: kind/bug, approved, lgtm

#286 Unified k8s version
  .github/workflows/call-offline-build.yaml
  artifacts/generate_offline_package.sh
  artifacts/manage_version_cr.sh
  build/images/kubean-operator/Dockerfile
Labels: kind/feature, approved, lgtm

#287 Update README badge
  README.md
Labels: kind/feature, approved

#289 Add Dockerfile for airgap-patch
  .github/workflows/auto-pr-ci.yaml
  .github/workflows/call-images-build.yaml
  build/images/airgap-patch/Dockerfile
Labels: kind/feature, approved, lgtm

#291 Add os package for ubuntu
  .github/workflows/call-os-pkgs-build.yaml
  build/os-packages/Dockerfile.centos7
  build/os-packages/Dockerfile.redhat8
  build/os-packages/Dockerfile.redhat8.bak
  build/os-packages/Dockerfile.ubuntu1804
  build/os-packages/Dockerfile.ubuntu2004
  build/os-packages/packages.yml
Labels: kind/feature, approved, lgtm

#290 rename ansible_ssh_pass to ansible_password
  artifacts/demo/hosts-conf-cm.yml
  artifacts/offlineDemo/hosts-conf-cm.yml
  test/common/hosts-conf-cm.yml
  test/kubean_calico_nightlye2e/e2e-install-calico-cluster/hosts-conf-cm.yml
  test/kubean_os_compatibility_e2e/e2e-install-cluster/hosts-conf-cm.yml
  test/kubean_sonobouy_nightlye2e/e2e-install-cluster-sonobouy/hosts-conf-cm.yml
  test/tools/kubean_create_CR.go
Labels: kind/feature

#293 rename doc folder to docs
  README.md
  docs/images/certified-kubernetes-color.png
  docs/images/quick_start.gif
  docs/offline.md
  docs/offline.zh.md
  docs/test/kubean_testcase.md
  docs/test/testcase_details/cluster_operation.md
  docs/test/testcase_details/create_cluster.md
  docs/test/testcase_details/kubean_func.md
Labels: kind/documentation

#294 Add Doc For Airgap Patch
  build/images/airgap-patch/Dockerfile
  docs/airgap_patch_usage.md
  docs/offline.zh.md
Labels: kind/bug, approved, lgtm

#288 fix pr e2e fail
  hack/images.manifest
  hack/run-e2e.sh
  hack/run-sonobouy-e2e.sh
  test/kubean_functions_e2e/kubean_cluster_install_test.go
  test/kubean_reset_e2e/kubean_cluster_reset_test.go
  test/tools/config.go
Labels: kind/feature, approved, lgtm

#298 Support restore yum repo in enable-repo.yml
  docs/offline.zh.md
  pkg/util/entrypoint/entrypoint_test.go
  playbooks/enable-repo.yml
  playbooks/kubeconfig.yml
Labels: kind/feature, approved, lgtm

#299 update & add some docs
  README.md
  docs/architecture_zh.md
  docs/comparisons_zh.md
  docs/crds_zh.md
  docs/images/kubean-architecture.png
  docs/images/kubean-components.png
  docs/offline_zh.md
Labels: kind/documentation

#302 Add documentation for deploying clusters with ssh secret keys
  README.md
  docs/offline.md
  docs/zh/airgap_patch_usage.md
  docs/zh/architecture.md
  docs/zh/comparisons.md
  docs/zh/crds.md
  docs/zh/offline.md
  docs/zh/sshkey_deploy_cluster.md
Labels: approved, lgtm, kind/documentation

#306 Update doc for deploy cluster with ssh key
  docs/zh/sshkey_deploy_cluster.md
Labels: approved, kind/documentation

#309 Add auto release notes ci
  .github/workflows/auto-release-ci.yaml
  .github/workflows/call-save-release-notes.yaml
Labels: kind/feature, approved

#310 add os compatibility e2e
  hack/os_vagrantfiles/Vagrantfile_centos76
  hack/os_vagrantfiles/Vagrantfile_rhel76
  hack/run-os-compatibility-e2e.sh
  hack/util.sh
  test/kubean_os_compatibility_e2e/e2e-install-cluster/kubeanClusterOps.yml
  test/kubean_os_compatibility_e2e/kubean_cluster_redhat84_test.go
Labels: kind/feature, lgtm

#311 fix checkout repository bug
  .github/workflows/auto-release-ci.yaml
  .github/workflows/call-offline-build.yaml
  .github/workflows/call-os-pkgs-build.yaml
  .github/workflows/call-save-release-notes.yaml
Labels: kind/bug, approved

#314 add unit test
  pkg/controllers/clusterops/controller.go
  pkg/controllers/clusterops/controller_test.go
Labels: kind/feature, approved, lgtm

#313 chore: add ut
  cmd/kubean-operator/app/options_test.go
  pkg/controllers/infomanifest/controller_test.go
Labels: kind/feature, approved, lgtm

#315 fix airgap patch mod
  build/images/airgap-patch/Dockerfile
  docs/zh/airgap_patch_usage.md
Labels: kind/bug, approved, lgtm

#316 import_iso support kylin v10 sp2
  artifacts/import_iso.sh
Labels: kind/feature, approved, lgtm

#307 Translation of kubean documents (issue305)
  docs/airgap_patch_usage.md
  docs/architecture.md
  docs/offline.md
Labels: approved, lgtm

#312 upgrade kind version to 1.25.3
  artifacts/kindClusterConfig/kubean-host.yml
  hack/e2e.sh
  hack/local-up-kindcluster.sh
  hack/run-e2e.sh
  test/kubean_reset_e2e/kubean_cluster_reset_test.go
Labels: kind/feature, approved, lgtm

#317 [CI]add incremental packages
  .github/workflows/manual-incremental-packages.yaml
  hack/incremental-pkgs.sh
Labels: kind/feature, approved, lgtm

#318 Update os_family for kylin in enable-repo playbook
  playbooks/enable-repo.yml
Labels: kind/feature, approved, lgtm

#321 Add os packages for kylin linux
  .github/workflows/call-os-pkgs-build.yaml
  build/os-packages/Dockerfile.kylinv10
  build/os-packages/Dockerfile.redhat8
  build/os-packages/packages.yml
  build/os-packages/repos/kylin.repo
  playbooks/enable-repo.yml
Labels: kind/bug, approved, lgtm

#324 Update os packages for kylin linux
  build/os-packages/Dockerfile.kylinv10
  build/os-packages/packages.yml
  build/os-packages/repos/kylin.repo
Labels: kind/bug, approved

#326 Update the absolute path of the command in playbook
  playbooks/cluster-info.yml
  playbooks/kubeconfig.yml
Labels: kind/bug, approved

#325 Offline adapation for RHEL 8.4
  artifacts/gen_repo_conf.sh
  artifacts/import_iso.sh
  artifacts/offlineDemo/kubeanClusterOps.yml
  build/os-packages/Dockerfile.redhat8
  docs/zh/offline.md
  pkg/controllers/clusterops/controller.go
  pkg/util/entrypoint/entrypoint.go
  playbooks/enable-repo.yml
  playbooks/remove-pkgs.yml
Labels: kind/feature, approved

#329 v0.4.1 Pre-release version
  .github/workflows/call-offline-build.yaml
Labels: kind/feature, approved

#330 Fix import_iso.sh
  artifacts/import_iso.sh
Labels: kind/feature, approved, lgtm

#331 specify k8s version
  .github/workflows/call-offline-build.yaml
Labels: kind/feature, approved

#332 Fix kylin linux offline deployment python3-libselinux dependency issue
  build/os-packages/packages.yml
Labels: kind/bug, approved

#323 translate sshkey_deploy_cluster.md
  docs/en/sshkey_deploy_cluster.md
  docs/zh/sshkey_deploy_cluster.md
Labels: approved, lgtm

#320 translate crds.md to en
  docs/airgap_patch_usage.md
  docs/en/airgap_patch_usage.md
  docs/en/architecture.md
  docs/en/crds.md
  docs/en/offline.md
  docs/zh/airgap_patch_usage.md
  docs/zh/architecture.md
  docs/zh/comparisons.md
  docs/zh/crds.md
  docs/zh/offline.md
  docs/zh/sshkey_deploy_cluster.md
Labels: approved, lgtm

#335 update packages.yml for kylin os
  build/os-packages/packages.yml
Labels: approved, lgtm

#334 fix test
  cmd/kubean-operator/app/options_test.go
Labels: kind/feature, approved, lgtm

#333 add release-process.md
  release-process.md
Labels: approved, lgtm, kind/documentation

#336 Fix released image tag overrided
  .github/workflows/e2e_schedule.yaml
Labels: kind/bug, approved, lgtm

#341 add offline-e2e
  .github/workflows/e2e_offline.yaml
  artifacts/kindClusterConfig/kubean-host.yml
  hack/local-up-kindcluster.sh
  hack/offline-e2e.sh
  hack/offline-util.sh
  hack/test_images.list
  hack/util.sh
  hack/vm_name.list
  test/kubean_functions_e2e/kubean_cluster_install_test.go
  test/offline-common/hosts-conf-cm.yml
  test/offline-common/kubeanCluster.yml
  test/offline-common/kubeanClusterOps.yml
  test/offline-common/vars-conf-cm.yml
  test/tools/config.go
  test/tools/test_params.yml
Labels: kind/feature, approved, lgtm

#342 fix offline e2e workflow file
  .github/workflows/e2e_offline.yaml
Labels: kind/feature, approved, lgtm

#337 chart: namespace should go with release
  charts/kubean/templates/_helpers.tpl
  charts/kubean/values.yaml
Labels: kind/bug, approved

#343 update case md
  docs/test/kubean_testcase.md
Labels: approved, kind/documentation

#338 Fix template rendering failure
  artifacts/offlineDemo/vars-conf-cm.yml
Labels: kind/bug

#344 fix offline workflow
  .github/workflows/e2e_offline.yaml
Labels: kind/feature

#345 fix offline shell
  hack/offline-util.sh
Labels: kind/feature

#349 update airgap_patch image tag in doc
  docs/zh/airgap_patch_usage.md
Labels: approved, lgtm, kind/documentation
