Repository kubean-io/kubean, pull requests merged in 2022-08, with the labels that each got.

#42 Create OWNERS for PR Robot
  OWNERS
Labels: kind/feature

#44 create docker ce linux repo
  artifacts/manage_linuxrepo.sh
Labels: kind/feature, approved, lgtm

#45 Add log about playbook support range
  pkg/util/entrypoint/entrypoint.go
Labels: kind/feature, approved, lgtm

#50 Create LICENSE
  LICENSE
Labels: approved, lgtm, kind/documentation

#47 Specify the value of the ClusterName label
  pkg/controllers/clusterops/controller.go
Labels: kind/bug, approved, lgtm

#46 Update the description of the status attribute in clusterops
  api/apis/kubeanclusterops/v1alpha1/types.go
  api/apis/kubeanclusterops/v1alpha1/zz_generated.deepcopy.go
  pkg/controllers/clusterops/controller.go
  pkg/controllers/clusterops/controller_test.go
  vendor/kubean.io/api/apis/kubeanclusterops/v1alpha1/types.go
  vendor/kubean.io/api/apis/kubeanclusterops/v1alpha1/zz_generated.deepcopy.go
Labels: kind/bug, approved, lgtm

#52 fix ci bug
  .github/workflows/tag-charts.yaml
  README.md
Labels: kind/bug, approved, lgtm

#53 fix ci's env and needs bug
  .github/workflows/tag-charts.yaml
Labels: kind/bug, approved

#51 clean internal ntp
  artifacts/demo/kubeanClusterOps.yml
  artifacts/demo/vars-conf-cm.yml
  artifacts/offlineDemo/kubeanClusterOps.yml
  artifacts/offlineDemo/vars-conf-cm.yml
  playbooks/ntpdate.yml
Labels: approved, kind/cleanup, lgtm

#56 Change demo etcd_deployment_type to kubeadm
  artifacts/demo/vars-conf-cm.yml
  artifacts/offlineDemo/vars-conf-cm.yml
Labels: approved, lgtm

#58 add offline ci
  .github/workflows/offline-build.yaml
  artifacts/generate_offline_package.sh
  artifacts/manage_version_cr.sh
  artifacts/template/kubeancomponentsversion.template.yml
  artifacts/template/kubeanofflineversion.template.yml
  doc/offline.md
Labels: kind/feature, approved

#60 Add case list and case details md file
  doc/test/kubean_testcase.md
  doc/test/testcase_details/create_cluster.md
  doc/test/testcase_details/kubean_func.md
Labels: approved, lgtm, kind/documentation

#62 add os packages build ci
  .github/workflows/offline-build.yaml
  .github/workflows/os-pkgs-build.yml
  artifacts/generate_offline_package.sh
  artifacts/import_files.sh
  artifacts/import_images.sh
  artifacts/import_ospkgs.sh
  artifacts/manage_images.sh
  artifacts/manage_linuxrepo.sh
  build/os-packages/Dockerfile.centos7
  build/os-packages/Dockerfile.centos8
  build/os-packages/packages.yml
  doc/offline.md
Labels: kind/feature, approved, lgtm

#67 fix import_ospkgs
  artifacts/import_ospkgs.sh
Labels: approved, lgtm

#68 Kubean offline ci
  .github/workflows/call-offline-build.yaml
  .github/workflows/call-os-pkgs-build.yaml
  .github/workflows/call-upload-qiniu.yaml
  .github/workflows/offline-build.yaml
  .github/workflows/tag-chart-image.yaml
  artifacts/generate_offline_package.sh
Labels: kind/feature, approved, lgtm

#69 Reuse ci files
  .github/workflows/call-build-image.yaml
  .github/workflows/main.yaml
  .github/workflows/tag-chart-image.yaml
Labels: kind/feature, approved, lgtm

#70 fix release ci
  .github/workflows/call-build-image.yaml
  .github/workflows/call-offline-build.yaml
  .github/workflows/call-os-pkgs-build.yaml
  .github/workflows/tag-chart-image.yaml
Labels: kind/bug, approved, lgtm

#71 fix env
  .github/workflows/call-build-image.yaml
Labels: kind/bug, approved

#72 fix release tag ci
  .github/workflows/call-offline-build.yaml
  .github/workflows/call-os-pkgs-build.yaml
  .github/workflows/call-upload-qiniu.yaml
  artifacts/generate_offline_package.sh
Labels: kind/bug, approved

#73 Update call-build-image.yaml
  .github/workflows/call-upload-qiniu.yaml
Labels: kind/bug, approved

#75 update release ci
  .github/workflows/call-images-build.yaml
  .github/workflows/main.yaml
  .github/workflows/tag.yaml
Labels: approved

#77 Add iso repo script and update offline.md
  artifacts/import_files.sh
  artifacts/import_images.sh
  artifacts/import_ospkgs.sh
  artifacts/make_local_iso_repo.sh
  doc/offline.zh.md
Labels: kind/feature, approved, lgtm

#79 update offline doc
  artifacts/offlineDemo/vars-conf-cm.yml
  doc/offline.zh.md
Labels: approved

#80 Add gen_repo_conf.sh
  artifacts/gen_repo_conf.sh
  artifacts/make_local_iso_repo.sh
  doc/offline.zh.md
Labels: lgtm

#81 Temporarily block componentVersion CR
  .github/workflows/tag.yaml
Labels: approved, kind/cleanup, lgtm

#83 optimize block status
  pkg/controllers/cluster/controller.go
  pkg/controllers/clusterops/controller.go
  pkg/controllers/clusterops/controller_test.go
  pkg/util/entrypoint/entrypoint.go
Labels: kind/bug, approved, lgtm

#87 Add repo playbook
  artifacts/gen_repo_conf.sh
  artifacts/offlineDemo/kubeanClusterOps.yml
  doc/offline.zh.md
  pkg/util/entrypoint/entrypoint.go
  playbooks/enable-repo.yml
Labels: kind/feature, approved, lgtm

#88 Integrate image build ci
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/auto-version-release.yaml
  .github/workflows/call-images-build.yaml
  .github/workflows/call-offline-build.yaml
  .github/workflows/call-os-pkgs-build.yaml
  .github/workflows/spray-image-build.yaml
  build/images/spray-job/Dockerfile
Labels: kind/feature, approved, lgtm

#90 Fix parameter pass failure in main CI
  .github/workflows/auto-main-ci.yaml
  .github/workflows/auto-pr-ci.yaml
  .github/workflows/auto-release-ci.yaml
  .github/workflows/call-images-build.yaml
  .github/workflows/call-offline-build.yaml
  .github/workflows/call-os-pkgs-build.yaml
  .github/workflows/call-upload-qiniu.yaml
  .github/workflows/e2e_schedule.yaml
Labels: kind/bug, approved, lgtm

#92 add import_iso.sh
  artifacts/import_iso.sh
  doc/offline.zh.md
Labels: kind/feature, approved, lgtm

#91 update readme badge
  README.md
Labels: kind/bug, approved

#94 e2e case: /proc/sys/net/ipv4/ip_forward=1
  hack/run-sonobouy-e2e.sh
  test/kubean_sonobouy_e2e/kubean_cluster_sonobouy_test.go
  test/tools/config.go
Labels: kind/feature, lgtm

#97 Add retry mechanism for cluster-info playbook
  playbooks/cluster-info.yml
Labels: kind/bug, approved, lgtm

#98 update enable-repo playbook
  playbooks/enable-repo.yml
Labels: kind/feature, approved, lgtm
