Repository kubean-io/kubean, pull requests merged in 2022-12, with the labels that each got.

#369 oprimize offline shell
  .github/workflows/e2e_offline.yaml
  hack/offline-e2e.sh
  hack/offline-util.sh
  hack/util.sh
  test/kubean_functions_e2e/kubean_cluster_install_test.go
  test/tools/offline_params.yml
  test/tools/utils.go
Labels: kind/feature, lgtm

#362 optimize logs output
  cmd/kubean-operator/app/app.go
  pkg/controllers/infomanifest/controller.go
  pkg/controllers/infomanifest/controller_test.go
Labels: kind/feature, approved, lgtm

#371 Optimize kubeanoperation spec.image tag
  artifacts/demo/kubeanClusterOps.yml
  artifacts/offlineDemo/kubeanClusterOps.yml
  cmd/kubean-operator/app/app.go
  pkg/controllers/clusterops/controller.go
  pkg/controllers/clusterops/controller_test.go
  pkg/controllers/infomanifest/controller.go
  pkg/controllers/infomanifest/controller_test.go
  pkg/controllers/offlineversion/controller.go
  pkg/controllers/offlineversion/controller_test.go
  test/kubeanOps_functions_nightlye2e/kubeanOps_test.go
  test/tools/kubean_create_CR.go
Labels: kind/bug, approved, lgtm

#374 shihang.yun-fix-cd-bug
  .github/workflows/call-images-build.yaml
Labels: kind/bug, approved

#375 shihang.yun-optimize-input
  .github/workflows/manual-incremental-packages.yaml
Labels: kind/bug

#376 fix cd image tag's bug
  .github/workflows/call-images-build.yaml
Labels: kind/bug

#379 use kube-vip first
  playbooks/kubeconfig.yml
Labels: kind/bug, approved, lgtm

#372 allow custom kubean image repo in cd
  .github/workflows/call-cd.yaml
  Makefile
  hack/local-chart-to-deploy.sh
Labels: kind/feature, approved

#384 fix arm image build failure
  build/images/kubespray/Dockerfile
Labels: kind/feature

#385 fix airgap-patch image build failure
  build/images/airgap-patch/Dockerfile
Labels: kind/feature

#386 Remove libselinux from os packages
  build/os-packages/packages.yml
Labels: kind/feature, approved

#389 optimize offline-e2e environment set
  .github/workflows/e2e_offline.yaml
  hack/offline-e2e.sh
  hack/offline-util.sh
  test/kubean_deploy_e2e/kubean_deploy_test.go
  test/kubean_functions_e2e/kubean_cluster_install_test.go
  test/kubean_reset_e2e/kubean_cluster_reset_test.go
  test/offline-common/vars-conf-cm.yml
  test/tools/kubean_create_CR.go
Labels: kind/feature, lgtm

#390 add rhel7 ospkg
  .github/workflows/call-os-pkgs-build.yaml
  artifacts/import_iso.sh
  build/os-packages/Dockerfile.redhat7
  build/os-packages/packages.yml
Labels: kind/feature, approved

#391 Check if the OS package needs to be rebuilt
  .github/workflows/call-os-pkgs-build.yaml
  build/os-packages/check_rebuild_pkgs.sh
Labels: kind/feature, approved

#393 Update get latest tag
  build/os-packages/check_rebuild_pkgs.sh
Labels: kind/bug

#394 Ready for release version v0.4.1
  .github/workflows/call-offline-build.yaml
Labels: approved, kind/flake

#395 Update previous tag
  .github/workflows/call-offline-build.yaml
  build/os-packages/check_rebuild_pkgs.sh
Labels: kind/bug, approved

#396 remove preset playbook
  artifacts/offlineDemo/kubeanClusterOps.yml
  pkg/controllers/clusterops/controller.go
  pkg/util/entrypoint/entrypoint.go
Labels: kind/feature

#397 fix enable-repo
  playbooks/enable-repo.yml
Labels: kind/feature, approved, lgtm

#399 Block the update repo from kylin os
  build/os-packages/check_rebuild_pkgs.sh
  build/os-packages/repos/kylin.repo
Labels: kind/bug, approved

#400 Revert "fix enable-repo"
  playbooks/enable-repo.yml
Labels: approved, lgtm

#403 Remove unnecessary pkgs
  build/os-packages/check_rebuild_pkgs.sh
  build/os-packages/packages.yml
Labels: kind/feature, approved, lgtm

#404 Improve check_rebuild_pkgs
  build/os-packages/check_rebuild_pkgs.sh
Labels: kind/feature, approved, lgtm

#411 Restore os pkg
  build/os-packages/packages.yml
Labels: kind/feature, lgtm

#413 Restore os pkg
  build/os-packages/packages.yml
Labels: kind/feature, lgtm

#416 add kylin os case
  .github/workflows/e2e_offline.yaml
  artifacts/kindClusterConfig/kubean-host.yml
  hack/offline-e2e.sh
  hack/offline-util.sh
  hack/offline_run_amd64.sh
  hack/offline_run_arm64.sh
  hack/offline_run_centos.sh
  hack/test_images.list
  hack/util.sh
  test/kubean_functions_e2e/kubean_cluster_install_test.go
  test/kubean_os_compatibility_e2e/kubean_cluster_os_compatibility_test.go
  test/kubean_reset_e2e/kubean_cluster_reset_test.go
  test/offline-common/hosts-conf-cm-2nodes.yml
  test/offline-common/vars-conf-cm.yml
  test/tools/config.go
  test/tools/offline_params.yml
  test/tools/service.go
  test/tools/utils.go
Labels: kind/feature, approved, lgtm

#417 fix offline e2e bug
  hack/offline-util.sh
Labels: kind/feature

#422 update pr ci yaml
  .github/workflows/auto-pr-ci.yaml
Labels: kind/feature

#423 make pr ci from vagrant to vm
  artifacts/kindClusterConfig/kubean-host-offline.yml
  artifacts/kindClusterConfig/kubean-host.yml
  hack/e2e.sh
  hack/local-up-kindcluster.sh
  hack/run-e2e.sh
  hack/util.sh
  test/common/kubeanClusterOps.yml
Labels: kind/feature

#435 add a parameter to pr ci workflow
  .github/workflows/auto-pr-ci.yaml
Labels: kind/feature, lgtm

#438 add calico case in nightly e2e
  hack/e2e.sh
  hack/run-e2e.sh
  hack/run-network-e2e.sh
  hack/run-sonobouy-e2e.sh
  test/common/hosts-conf-cm-2nodes.yml
  test/kubean_calico_nightlye2e/kubean_network_calico_test.go
  test/tools/config.go
  test/tools/service.go
Labels: kind/feature

#445 add secrets for nightly e2e in workflow yaml
  .github/workflows/e2e_schedule.yaml
Labels: kind/feature

#447 Add resources
  api/apis/clusteroperation/v1alpha1/types.go
  api/apis/clusteroperation/v1alpha1/zz_generated.deepcopy.go
  api/charts/crds/kubean.io_clusteroperations.yaml
  api/generated/cluster/cluster/clientset/versioned/fake/register.go
  api/generated/cluster/cluster/clientset/versioned/scheme/register.go
  api/generated/clusteroperation/clusteroperation/clientset/versioned/fake/register.go
  api/generated/clusteroperation/clusteroperation/clientset/versioned/scheme/register.go
  api/generated/localartifactset/localartifactset/clientset/versioned/fake/register.go
  api/generated/localartifactset/localartifactset/clientset/versioned/scheme/register.go
  api/generated/manifest/manifest/clientset/versioned/fake/register.go
  api/generated/manifest/manifest/clientset/versioned/scheme/register.go
  api/go.mod
  charts/kubean/crds/kubean.io_clusteroperations.yaml
  pkg/controllers/clusterops/controller.go
  vendor/kubean.io/api/apis/clusteroperation/v1alpha1/types.go
  vendor/kubean.io/api/apis/clusteroperation/v1alpha1/zz_generated.deepcopy.go
Labels: kind/feature, approved, lgtm

#448 update case md
  .github/workflows/e2e_offline.yaml
  docs/test/kubean_testcase.md
  hack/e2e.sh
  hack/offline-e2e.sh
  hack/offline_run_centos.sh
  hack/run-e2e.sh
  test/common/hosts-conf-cm.yml
  test/kubean_functions_e2e/kubean_cluster_install_test.go
  test/kubean_reset_e2e/kubean_cluster_reset_test.go
  test/offline-common/hosts-conf-cm.yml
Labels: kind/feature

#449 update nightly e2e yaml
  .github/workflows/e2e_schedule.yaml
Labels: kind/feature
