Repository kubean-io/kubean, pull requests merged in 2022-09, with the labels that each got.

#100 add e2e coverage badge
  README.md
Labels: approved, lgtm

#101 Verify upgrade from v1.23 to v1.24 and clusterops backoff limit
  hack/run-e2e.sh
  hack/run-sonobouy-e2e.sh
  test/common/vars-conf-cm.yml
  test/kubeanOps_functions_e2e/backofflimit-clusterops/hosts-conf-cm.yml
  test/kubeanOps_functions_e2e/backofflimit-clusterops/kubeanClusterOps.yml
  test/kubeanOps_functions_e2e/kubean_bol0_test.go
  test/kubeanOps_functions_e2e/kubean_bol1_test.go
  test/kubeanOps_functions_e2e/kubean_bol2_test.go
  test/kubean_sonobouy_e2e/kubean_cluster_sonobouy_test.go
  test/tools/utils.go
Labels: kind/feature, lgtm

#106 add case details and case list
  README.md
  doc/test/kubean_testcase.md
  doc/test/testcase_details/cluster_operation.md
  doc/test/testcase_details/create_cluster.md
  doc/test/testcase_details/kubean_func.md
Labels: approved, lgtm

#110 optimize_import_iso
  artifacts/import_iso.sh
Labels: kind/feature, approved

#107 Update helm chart notes
  charts/kubean/templates/NOTES.txt
Labels: approved, lgtm, kind/documentation

#109 fix image path to organization name
  .github/workflows/auto-pr-ci.yaml
  .github/workflows/call-images-build.yaml
  .github/workflows/e2e_schedule.yaml
  artifacts/demo/kubeanClusterOps.yml
  artifacts/offlineDemo/kubeanClusterOps.yml
  build/images/spray-job/Dockerfile
  charts/kubean/values.yaml
  doc/offline.zh.md
  hack/e2e.sh
  hack/images.sh
  hack/local-up-kindcluster.sh
  hack/run-e2e.sh
  hack/run-sonobouy-e2e.sh
  hack/sonobouy_e2e.sh
  pkg/controllers/clusterops/controller_test.go
  test/kubeanOps_functions_e2e/backofflimit-clusterops/kubeanClusterOps.yml
  test/kubeanOps_functions_e2e/e2e-install-cluster/kubeanClusterOps.yml
  test/tools/kubean_create_CR.go
Labels: kind/feature, approved, lgtm

#112 Minimize to keep only necessary system packages
  build/os-packages/Dockerfile.centos7
  build/os-packages/Dockerfile.centos8
  build/os-packages/packages.yml
Labels: approved, kind/cleanup, lgtm

#114 Update list of supported versions of docker in offline CR yaml
  .github/workflows/auto-pr-ci.yaml
  .github/workflows/auto-release-ci.yaml
  .github/workflows/call-images-build.yaml
  artifacts/manage_version_cr.sh
  artifacts/template/kubeancomponentsversion.template.yml
  artifacts/template/kubeanofflineversion.template.yml
Labels: kind/feature, approved

#115 Update docker login in CI
  .github/workflows/call-images-build.yaml
Labels: kind/feature, approved

#116 fix the short image name of pr ci
  .github/workflows/auto-pr-ci.yaml
Labels: kind/bug, approved

#118 optimize offlineversion crd operator
  api/apis/kubeancomponentsversion/v1alpha1/types_test.go
  api/constants/constants.go
  cmd/kubean-operator/app/app.go
  pkg/controllers/clusterops/controller.go
  pkg/controllers/offlineversion/controller.go
  pkg/controllers/offlineversion/controller_test.go
  pkg/util/cluster.go
  pkg/util/cluster_test.go
  vendor/kubean.io/api/constants/constants.go
  vendor/modules.txt
Labels: lgtm

#120 Use artifacts instead of caches for file sharing between jobs
  .github/workflows/auto-pr-ci.yaml
  .github/workflows/auto-release-ci.yaml
  .github/workflows/call-offline-build.yaml
Labels: kind/bug, approved

#124 Temporarily hide CR generation logic
  .github/workflows/auto-release-ci.yaml
Labels: kind/bug, approved, lgtm

#122 [CI] add cd
  .github/workflows/auto-main-ci.yaml
  .github/workflows/auto-release-ci.yaml
  .github/workflows/call-cd.yaml
  Makefile
  hack/local-chart-to-deploy.sh
Labels: kind/feature, approved, lgtm

#125 fix e2e script
  hack/images.manifest
Labels: kind/bug, approved, lgtm

#128 Sync api to another repo
  .github/workflows/auto-release-ci.yaml
  api/LICENSE
  api/README.md
  artifacts/manage_version_cr.sh
  hack/sync_api.sh
Labels: approved, lgtm

#130 Update default version value type to string
  artifacts/manage_version_cr.sh
Labels: kind/bug, approved

#131 Add KubeanClusterConfig Operator
  api/apis/kubeanclusterconfig/v1alpha1/types.go
  api/charts/_crds/kubean.io_kubeanclusterconfigs.yaml
  artifacts/manage_version_cr.sh
  artifacts/template/kubeanclusterconfig.template.yml
  charts/kubean/_crds/kubean.io_kubeanclusterconfigs.yaml
  cmd/kubean-operator/app/app.go
  pkg/controllers/clusterconfig/controller.go
  pkg/controllers/offlineversion/controller.go
  vendor/kubean.io/api/apis/kubeanclusterconfig/v1alpha1/types.go
Labels: approved, lgtm

#133 Update helm charts CI
  .github/workflows/auto-release-ci.yaml
  .github/workflows/call-offline-build.yaml
  artifacts/manage_version_cr.sh
  artifacts/template/kubeaninfomanifest.template.yml
Labels: kind/feature, approved, lgtm

#134 Add global var in charts
  charts/kubean/values.yaml
Labels: kind/feature, approved

#132 change hasmodified
  test/kubeanOps_functions_e2e/kubeanOps_test.go
  test/kubean_functions_e2e/kubean_cluster_install_test.go
Labels: approved, lgtm, kind/failing-test

#136 1. add/remove worker node; 2. using private key to deploy cluster
  hack/run-e2e.sh
  hack/run-sonobouy-e2e.sh
  hack/sonobouy_e2e.sh
  test/kubean_add_remove_worker_e2e/add-worker-node/hosts-conf-cm.yml
  test/kubean_add_remove_worker_e2e/add-worker-node/kubeanClusterOps.yml
  test/kubean_add_remove_worker_e2e/e2e-install-1node-cluster-prikey/hosts-conf-cm.yml
  test/kubean_add_remove_worker_e2e/e2e-install-1node-cluster-prikey/kubeanCluster.yml
  test/kubean_add_remove_worker_e2e/e2e-install-1node-cluster-prikey/kubeanClusterOps.yml
  test/kubean_add_remove_worker_e2e/e2e-install-1node-cluster-prikey/ssh-auth-secret.yml
  test/kubean_add_remove_worker_e2e/kubean_add_remove_worker_test.go
  test/kubean_add_remove_worker_e2e/kubean_suite_test.go
  test/kubean_add_remove_worker_e2e/remove-worker-node/hosts-conf-cm.yml
  test/kubean_add_remove_worker_e2e/remove-worker-node/kubeanClusterOps.yml
Labels: kind/feature, lgtm

#135 update e2e details
  doc/test/kubean_testcase.md
  doc/test/testcase_details/cluster_operation.md
  doc/test/testcase_details/create_cluster.md
Labels: approved, lgtm

#140 add more checkpoints for reset and calico
  test/kubean_functions_e2e/kubean_cluster_install_test.go
  test/kubean_sonobouy_e2e/kubean_cluster_sonobouy_test.go
  test/tools/utils.go
Labels: kind/feature, lgtm

#143 Remove the xarg way to traverse the package list
  build/os-packages/Dockerfile.centos7
  build/os-packages/Dockerfile.centos8
Labels: kind/bug, approved, lgtm

#145 Specify the detailed version of os packages
  .github/workflows/call-os-pkgs-build.yaml
  build/os-packages/Dockerfile.centos7
  build/os-packages/Dockerfile.centos8
  build/os-packages/packages.yml
Labels: kind/bug, approved, lgtm

#148 Modify the download method of yum offline package
  build/os-packages/Dockerfile.centos7
  build/os-packages/Dockerfile.centos8
Labels: kind/bug, approved

#147 add pod_subnet e2e case
  doc/test/testcase_details/cluster_operation.md
  test/kubean_functions_e2e/kubean_cluster_install_test.go
  test/tools/kubean_create_CR.go
Labels: approved, lgtm

#152 Fix Infomanifest Operator Bug
  .gitignore
  artifacts/template/kubeaninfomanifest.template.yml
  pkg/controllers/infomanifest/controller.go
Labels: kind/bug, approved, lgtm

#153 fix infomanifest test
  pkg/controllers/infomanifest/controller_test.go
Labels: kind/bug, approved

#156 keep one minio bucket
  artifacts/import_files.sh
  artifacts/import_images.sh
  artifacts/import_iso.sh
  artifacts/import_ospkgs.sh
  artifacts/offlineDemo/vars-conf-cm.yml
  doc/offline.zh.md
  pkg/controllers/infomanifest/controller.go
  pkg/controllers/infomanifest/controller_test.go
Labels: kind/feature, approved, lgtm

#155 add calico_feature_detect_override in sample
  artifacts/demo/vars-conf-cm.yml
Labels: approved, lgtm

#157 Add panpan0000 and yankay to approvers and reviews
  OWNERS
Labels: approved, lgtm

#159 Fix log typo
  api/hack/util.sh
  cmd/kubean-operator/app/app.go
  cmd/kubean-operator/app/options.go
  hack/images.sh
  hack/util.sh
  pkg/version/base.go
Labels: kind/bug, approved, lgtm

#161 update e2e badge and the e2e code link
  README.md
  doc/test/kubean_testcase.md
  doc/test/testcase_details/create_cluster.md
Labels: approved, lgtm

#165 fix CI checkout bug
  .github/workflows/auto-pr-ci.yaml
Labels: approved, lgtm

#167 fix CI bug ( e2e-schedule and helm check )
  .github/workflows/auto-release-ci.yaml
  .github/workflows/e2e_schedule.yaml
  charts/kubean/README.md
  hack/verify_helm_standard.sh
Labels: kind/bug, approved

#170 Update chart README.md
  charts/kubean/README.md
Labels: approved

#172 fix KUBESPRAY_TAG
  .github/workflows/e2e_schedule.yaml
Labels: kind/bug, approved

#175 add-ANSIBLE_CONFIG
  build/images/kubespray/Dockerfile
Labels: lgtm

#173 fix enable repo in ubuntu
  playbooks/enable-repo.yml
Labels: approved, lgtm

#185 fix charts crds install bug
  .github/workflows/auto-release-ci.yaml
  .github/workflows/call-offline-build.yaml
  artifacts/manage_version_cr.sh
  charts/kubean/_crs/.gitkeep
  charts/kubean/templates/customresourcedefinitions.yaml
Labels: kind/bug, approved, lgtm
