Repository kubean-io/kubean, pull requests merged in 2023-08, with the labels that each got.

#915 fix generate release notes content is empty
  .github/PULL_REQUEST_TEMPLATE.md
  .github/release.yml
  .github/workflows/auto-release-ci.yaml
  .github/workflows/call-gen-release-notes.yaml
  .github/workflows/call-offline-build.yaml
  .github/workflows/call-os-pkgs-build.yaml
  docs/overrides/releases/v0.7.0.md
  docs/overrides/releases/v0.7.1.md
  docs/overrides/releases/v0.7.2.md
  docs/overrides/releases/v0.7.3.md
  docs/overrides/releases/v0.7.4.md
  docs/overrides/releases/v0.8.0.md
  docs/overrides/releases/v0.8.1.md
Labels: kind/enhancement

#918 Ensure Cascade Deletion with Ownreference
  api/apis/cluster/v1alpha1/types.go
  api/apis/clusteroperation/v1alpha1/types.go
  pkg/controllers/cluster/controller.go
  pkg/controllers/clusterops/controller.go
  pkg/util/cluster.go
  vendor/github.com/kubean-io/kubean-api/apis/cluster/v1alpha1/types.go
  vendor/github.com/kubean-io/kubean-api/apis/clusteroperation/v1alpha1/types.go
Labels: api

#925 update k8s to v1.26.7
  hack/run-nightly-cluster-e2e.sh
  test/offline-common/vars-conf-cm.yml
  test/tools/config.go
  version.yml
Labels: kind/bug, testing, CI

#926 disable CI robot
  .github/workflows/ci-bot.yaml
Labels: gitHub actions

#927 Add governance doc
  GOVERNANCE.md
  README.md
Labels: lgtm

#929 update Q3 roadmap
  docs/en/develop/roadmap.md
  docs/zh/develop/roadmap.md
Labels: documentation
