Repository kubean-io/kubean, pull requests merged in 2023-02, with the labels that each got.

#489 update e2e k8s version to 1.24.7
  test/common/vars-conf-cm.yml
Labels: kind/feature, lgtm

#491 set nightly e2e and online os-compatibility-e2e to the online runner
  .github/workflows/e2e_schedule.yaml
  .github/workflows/os_e2e_schedule.yaml
Labels: kind/feature, lgtm

#483 Add ansible-lint for playbooks in pr gate
  .ansible-lint
  .github/workflows/auto-pr-ci.yaml
Labels: kind/feature, lgtm

#482 Support import offline resource parallelly
  artifacts/import_files.sh
  artifacts/import_iso.sh
  artifacts/import_ospkgs.sh
Labels: kind/feature, lgtm

#488 Fix job creating failure across different namespace
  pkg/controllers/clusterops/controller.go
  pkg/controllers/clusterops/controller_test.go
Labels: kind/bug, lgtm

#492 change upgrade e2e to vm
  hack/e2e.sh
  hack/run-nightly-cluster-e2e.sh
  hack/run-sonobouy-e2e.sh
  hack/util.sh
  test/kubean_calico_nightlye2e/kubean_network_calico_test.go
  test/kubean_sonobouy_nightlye2e/e2e-install-cluster-sonobouy/hosts-conf-cm.yml
  test/kubean_sonobouy_nightlye2e/e2e-install-cluster-sonobouy/kubeanClusterOps.yml
  test/kubean_sonobouy_nightlye2e/kubean_cluster_sonobouy_test.go
  test/tools/config.go
Labels: kind/feature, lgtm

#493 fix sa error
  charts/kubean/templates/clusterrolebinding.yaml
Labels: kind/bug, lgtm

#497 change cluster lcm e2e case to vm
  hack/e2e.sh
  hack/run-nightly-cluster-e2e.sh
  hack/run-sonobouy-e2e.sh
  hack/util.sh
  test/kubean_add_remove_worker_nightlye2e/add-worker-node/hosts-conf-cm.yml
  test/kubean_add_remove_worker_nightlye2e/add-worker-node/kubeanClusterOps.yml
  test/kubean_add_remove_worker_nightlye2e/e2e-install-1node-cluster-prikey/hosts-conf-cm.yml
  test/kubean_add_remove_worker_nightlye2e/e2e-install-1node-cluster-prikey/kubeanCluster.yml
  test/kubean_add_remove_worker_nightlye2e/e2e-install-1node-cluster-prikey/kubeanClusterOps.yml
  test/kubean_add_remove_worker_nightlye2e/e2e-install-1node-cluster-prikey/ssh-auth-secret.yml
  test/kubean_add_remove_worker_nightlye2e/kubean_add_remove_worker_test.go
  test/kubean_add_remove_worker_nightlye2e/remove-worker-node/hosts-conf-cm.yml
  test/kubean_add_remove_worker_nightlye2e/remove-worker-node/kubeanClusterOps.yml
  test/tools/service.go
Labels: kind/feature

#499 Get serviceaccount name by labelselector
  charts/kubean/templates/serviceaccount.yaml
  pkg/controllers/clusterops/controller.go
  pkg/controllers/clusterops/controller_test.go
Labels: kind/bug, lgtm

#500 add calico dual stack e2e
  docs/test/kubean_testcase.md
  docs/test/testcase_details/create_cluster.md
  hack/run-network-e2e.sh
  hack/run-sonobouy-e2e.sh
  test/kubean_calico_dualstack_e2e/kubean_calico_dual_stack_test.go
  test/kubean_calico_dualstack_e2e/kubean_suite_test.go
  test/kubean_calico_nightlye2e/kubean_network_calico_test.go
Labels: kind/feature, lgtm

#501 update online os compatibility run rate
  .github/workflows/os_e2e_schedule.yaml
  docs/test/kubean_testcase.md
Labels: kind/feature, lgtm

#502 support imageRepo with password
  api/apis/manifest/v1alpha1/types.go
  api/apis/manifest/v1alpha1/zz_generated.deepcopy.go
  api/charts/crds/kubean.io_manifests.yaml
  charts/kubean/crds/kubean.io_manifests.yaml
  pkg/controllers/infomanifest/controller_test.go
  vendor/kubean.io/api/apis/manifest/v1alpha1/types.go
  vendor/kubean.io/api/apis/manifest/v1alpha1/zz_generated.deepcopy.go
Labels: kind/feature, approved, lgtm

#506 optimize ClusterRole && set COMMIT_SHA for release
  .github/workflows/auto-release-ci.yaml
  charts/kubean/templates/clusterrole.yaml
Labels: kind/bug, approved, lgtm

#507 set kubespray commit
  .github/workflows/auto-release-ci.yaml
Labels: kind/bug, approved

#511 rollback clusterrole
  charts/kubean/templates/clusterrole.yaml
Labels: kind/bug, approved, lgtm

#512 update minio repo
  hack/offline-util.sh
Labels: kind/feature, lgtm

#513 Fix incomplete ospkg cache judgment
  build/os-packages/check_rebuild_pkgs.sh
Labels: kind/bug, lgtm

#514 Remove ospkg buiding immediate exit
  build/os-packages/check_rebuild_pkgs.sh
Labels: kind/cleanup, lgtm

#515 Fix import ospkgs script
  artifacts/import_ospkgs.sh
Labels: kind/bug, approved, lgtm

#517 Remove audit on rhel8
  build/os-packages/check_rebuild_pkgs.sh
  playbooks/remove-pkgs.yml
Labels: kind/feature, lgtm

#519 add kubean maintainer
  MAINTAINERS.md
Labels: approved, lgtm, kind/documentation

#520 fix release image
  .github/workflows/auto-main-ci.yaml
  .github/workflows/auto-release-ci.yaml
  .github/workflows/call-images-build.yaml
Labels: kind/bug, approved

#516 fix typo hack script for setup
  test/README.md
Labels: kind/bug, approved, lgtm

#526 chore: delete unused file #523
  config/ci/demo-alpha.yaml
  config/ci/demo-dev.yaml
  config/ci/e2e.yaml
  hack/deploy.sh
Labels: approved, kind/cleanup, lgtm

#530 Fix offline e2e failure
  hack/offline-e2e.sh
Labels: kind/bug, approved, lgtm

#531 Remove runc on offline rhel8 from playbook
  playbooks/remove-pkgs.yml
Labels: kind/feature

#534 fix imageRepo field
  api/apis/manifest/v1alpha1/types.go
  vendor/kubean.io/api/apis/manifest/v1alpha1/types.go
Labels: kind/bug, lgtm
