Repository kubean-io/kubean, pull requests merged in 2023-05, with the labels that each got.

#694 Fix ansible lint
  .ansible-lint
  .github/workflows/auto-pr-ci.yaml
  playbooks/disable-firewalld.yml
Labels: approved, lgtm, kind/flake

#693 Add kubean examples
  README.md
  README_zh.md
  docs/en/LCM/install.md
  docs/en/LCM/scale.md
  docs/en/LCM/uninstall.md
  docs/en/LCM/upgrade.md
  docs/en/crds.md
  docs/en/offline.md
  docs/en/sshkey_deploy_cluster.md
  docs/zh/LCM/install.md
  docs/zh/LCM/scale.md
  docs/zh/LCM/uninstall.md
  docs/zh/LCM/upgrade.md
  docs/zh/crds.md
  docs/zh/offline.md
  docs/zh/sshkey_deploy_cluster.md
  examples/install/1.minimal/AllInOne.yml
  examples/install/2.mirror/Cluster.yml
  examples/install/2.mirror/ClusterOperation.yml
  examples/install/2.mirror/HostsConfCM.yml
  examples/install/2.mirror/VarsConfCM.yml
  examples/install/3.airgap/Cluster.yml
  examples/install/3.airgap/ClusterOperation.yml
  examples/install/3.airgap/HostsConfCM.yml
  examples/install/3.airgap/VarsConfCM.yml
  examples/scale/1.addWorkNode/ClusterOperation.yml
  examples/scale/1.addWorkNode/HostsConfCM.yml
  examples/scale/2.delWorkNode/ClusterOperation.yml
  examples/scale/2.delWorkNode/HostsConfCM.yml
  examples/uninstall/ClusterOperation.yml
  examples/upgrade/ClusterOperation.yml
  examples/upgrade/VarsConfCM.yml
Labels: approved, kind/documentation

#700 support oracle linux in offline enviroment
  .github/workflows/auto-release-ci.yaml
  .github/workflows/call-os-pkgs-build.yaml
  artifacts/import_iso.sh
  build/os-packages/Dockerfile.centos7
  build/os-packages/Dockerfile.kylinv10
  build/os-packages/Dockerfile.openeuler22.03
  build/os-packages/Dockerfile.oracle9
  build/os-packages/Dockerfile.redhat7
  build/os-packages/Dockerfile.redhat8
  build/os-packages/Dockerfile.redhat8.bak
  build/os-packages/Dockerfile.ubuntu1804
  build/os-packages/Dockerfile.ubuntu2004
  build/os-packages/check_rebuild_pkgs.sh
  build/os-packages/packages.yml
  docs/en/offline.md
  docs/zh/offline.md
  playbooks/cluster-info.yml
  playbooks/enable-repo.yml
  playbooks/kubeconfig.yml
  playbooks/ping.yml
  playbooks/precheck.yml
  playbooks/remove-pkgs.yml
  playbooks/update-hosts.yml
Labels: kind/feature, approved, lgtm

#706 remove dockerCE from openeuler pkgs
  build/os-packages/Dockerfile.openeuler22.03
Labels: kind/bug, approved, lgtm

#707 kubean e2e ci follow kubespray structure category
  .github/workflows/kubean_e2e_test_ci.yaml
  hack/newE2E.sh
Labels: kind/feature, lgtm

#709 Fix KUBEAN_E2E_TEST_CI Error: A branch or tag with the name kubean_ci_test could not be found
  .github/workflows/kubean_e2e_test_ci.yaml
Labels: lgtm, kind/failing-test

#712 fix kubean e2e ci not really run problem
  .github/workflows/kubean_e2e_test_ci.yaml
Labels: kind/bug

#716 update other linux tool script
  build/os-packages/others/README.md
  build/os-packages/others/other_os_pkgs.sh
Labels: kind/bug, approved, lgtm

#718 fix ci config variables
  .github/workflows/kubean_e2e_test_ci.yaml
  hack/newE2E.sh
Labels: lgtm, kind/failing-test

#714 add ipvs case
  docs/test/testcase_details/create_cluster.md
  hack/deploy.sh
  hack/e2e.sh
  hack/local-up-kindcluster.sh
  hack/offline-e2e.sh
  hack/offline-util.sh
  hack/run-network-e2e.sh
  hack/run-nightly-cluster-e2e.sh
  hack/run-os-compatibility-e2e.sh
  hack/util.sh
  test/common/vars-conf-cm.yml
  test/kubean_ipvs_cluster_e2e/create_ipvs_cluster_test.go
  test/kubean_ipvs_cluster_e2e/kubean_suite_test.go
  test/offline-common/vars-conf-cm.yml
  test/tools/config.go
  test/tools/service.go
Labels: kind/feature, lgtm

#721 enable trivy security scanning
  hack/trivy.sh
Labels: kind/bug, approved, lgtm

#723 update enable repo playbook
  playbooks/enable-repo.yml
Labels: kind/bug, approved, lgtm

#725 add clean repolist in other linux script
  build/os-packages/others/other_os_pkgs.sh
Labels: kind/feature, approved

#726 update yum repo config in other linux
  build/os-packages/others/other_os_pkgs.sh
Labels: kind/bug, approved

#729 update docs
  .github/workflows/call-build-docs.yaml
  README.md
  README_zh.md
  docs/en/index.md
  docs/mkdocs.en.yml
  docs/mkdocs.zh.yml
  docs/overrides/test/kubean_testcase.md
  docs/overrides/test/testcase_details/cluster_operation.md
  docs/overrides/test/testcase_details/create_cluster.md
  docs/overrides/test/testcase_details/kubean_func.md
  docs/zh/index.md
Labels: approved, kind/documentation

#730 add module repo for yum manager
  build/os-packages/others/other_os_pkgs.sh
  build/os-packages/others/pkgs.yml
Labels: kind/feature, approved

#734 CI failure:debug vm change to runner vm
  .github/workflows/e2e_schedule.yaml
  hack/util.sh
Labels: lgtm

#740 CI failure :change vm config and update docker rm command
  hack/util.sh
Labels: lgtm

#739 fetch os kernel version in precheck.yml
  playbooks/precheck.yml
Labels: kind/feature, approved, lgtm

#749 Update allinone.md
  docs/mkdocs.zh.yml
  docs/zh/usage/all-in-one-install.md
  docs/zh/usage/helm-install-kubean.md
  docs/zh/usage/install.md
Labels: lgtm, kind/documentation

#753 Support script import_iso.sh to load main function
  artifacts/import_iso.sh
Labels: kind/feature, approved, lgtm

#754 Update README.md
  README.md
  README_zh.md
Labels: approved, lgtm

#755 add readme for docs
  artifacts/import_iso.sh
  docs/README.md
  playbooks/kubeconfig.yml
Labels: approved, kind/documentation

#756 ignore pull pause 4 image
  artifacts/generate_offline_package.sh
Labels: approved

#759 remove alpha_arm
  .github/workflows/call-cd.yaml
Labels: kind/bug, approved, lgtm

#761 centos_cilium_online should use offline runner
  .github/workflows/kubean_e2e_test_ci.yaml
Labels: kind/bug

#760 e2e:update worker cluster k8s version
  README.md
  hack/run-nightly-cluster-e2e.sh
  test/common/vars-conf-cm.yml
Labels: kind/cleanup, lgtm

#762 update import iso
  artifacts/generate_offline_package.sh
  artifacts/import_iso.sh
Labels: kind/bug, approved

#758 add mirror.md
  docs/mkdocs.zh.yml
  docs/zh/usage/mirror-install.md
Labels: lgtm, kind/documentation

#765 fix-cluster-controllers-reconcile-loop
  pkg/controllers/cluster/controller.go
Labels: kind/bug, lgtm

#763 fix:add kubean version in readme
  README.md
Labels: kind/cleanup, lgtm

#767 e2e:modify e2e k8s version
  test/tools/config.go
Labels: kind/cleanup

#766 fix error: Failed to compile kubean_ipvs_cluster_e2e
  .github/workflows/kubean_e2e_test_ci.yaml
Labels: kind/failing-test

#768 Add scale docs
  docs/mkdocs.zh.yml
  docs/zh/usage/scale-worknode.md
  docs/zh/usage/scale.md
Labels: lgtm, kind/documentation

#769 update scale docs
  docs/mkdocs.en.yml
  docs/mkdocs.zh.yml
  docs/zh/usage/all-in-one-install.md
  docs/zh/usage/helm-install-kubean.md
  docs/zh/usage/scale-worknode.md
Labels: approved, kind/documentation

#772 Translate installation and use documentation
  docs/en/usage/all-in-one-install.md
  docs/en/usage/helm-install-kubean.md
Labels: kind/documentation

#773 translation en
  docs/en/usage/mirror-install.md
  docs/en/usage/scale-worknode.md
  docs/en/usage/scale.md
  docs/en/usage/uninstall.md
  docs/en/usage/upgrade.md
  docs/mkdocs.en.yml
  docs/zh/usage/scale-worknode.md
  docs/zh/usage/upgrade.md
Labels: lgtm, kind/documentation

#727 fix speedup offline package with curl
  .github/workflows/call-speedup-offline-packags.yaml
Labels: kind/feature, lgtm

#781 when pr just changed docs file not run e2e
  .github/workflows/auto-pr-ci.yaml
Labels: kind/feature

#782 add kubean support k8s version range
  README.md
  docs/zh/usage/support-k8s-version.md
Labels: lgtm, kind/documentation

#774 [docs]Fix upgrade.md
  docs/en/usage/upgrade.md
  docs/zh/usage/upgrade.md
Labels: kind/documentation
