Repository kubean-io/kubean, pull requests merged in 2023-07, with the labels that each got.

#861 refactor network testcase architecture
  .github/workflows/kubean_e2e_test_ci.yaml
  hack/network_testcase.sh
  hack/newE2E.sh
  hack/util.sh
  hack/vm_config.yaml
  hack/yml_utils.sh
Labels: kind/cleanup, lgtm

#866 Fix release created repeatedly
  .github/workflows/call-os-pkgs-build.yaml
  docs/overrides/releases/v0.5.2-rc1.md
Labels: kind/bug, approved

#872 Update spray image
  .github/workflows/call-build-imgs-for-spray.yaml
  build/images/kubespray/Dockerfile
  build/images/patch_files/pkg_mgr.py
Labels: kind/bug, approved, lgtm

#871 work with oracle 8
  .github/workflows/call-os-pkgs-build.yaml
  build/os-packages/Dockerfile.oracle8
  build/os-packages/check_rebuild_pkgs.sh
  build/os-packages/packages.yml
Labels: kind/feature, approved, lgtm

#873 add unit-test
  pkg/controllers/clusterops/controller_test.go
  pkg/controllers/infomanifest/controller_test.go
Labels: kind/feature, approved, lgtm

#870 verify kubespray master head commit id sha pipeline
  .github/workflows/verify-kubespray.yaml
Labels: kind/cleanup

#875 retry more times to download files in e2e schedule testing
  hack/resouce_util.sh
Labels: kind/bug, lgtm

#876 correct workflow yaml
  .github/workflows/call-build-imgs-for-kubean.yaml
  .github/workflows/call-upload-qiniu.yaml
  .github/workflows/verify-kubespray.yaml
Labels: kind/bug, lgtm

#877 correct verify kubespray yaml errors
  .github/workflows/verify-kubespray.yaml
Labels: kind/bug, lgtm

#879 correct HELM_CHART_VERSION value in verify_kubespray_e2e_test
  .github/workflows/auto-pr-ci.yaml
  .github/workflows/verify-kubespray.yaml
Labels: kind/bug

#882 fix some bug in kubespray commit workflow
  .github/workflows/verify-kubespray.yaml
Labels: kind/bug, lgtm

#884 Add renew certs playbook
  pkg/util/entrypoint/entrypoint.go
  playbooks/renew-certs.yml
Labels: kind/feature, approved, lgtm

#886 Add sshpass for sync ansible module
  build/os-packages/Dockerfile.centos7
  build/os-packages/Dockerfile.kylinv10
  build/os-packages/Dockerfile.openeuler22.03
  build/os-packages/Dockerfile.oracle8
  build/os-packages/Dockerfile.oracle9
  build/os-packages/Dockerfile.redhat7
  build/os-packages/Dockerfile.redhat8
  build/os-packages/Dockerfile.redhat8.bak
  build/os-packages/Dockerfile.tencent31
  build/os-packages/Dockerfile.ubuntu1804
  build/os-packages/Dockerfile.ubuntu2004
  build/os-packages/check_rebuild_pkgs.sh
  build/os-packages/others/pkgs.yml
  build/os-packages/packages.yml
  playbooks/renew-certs.yml
Labels: kind/bug, approved, lgtm

#889 Set ownReference for clusterOperation releated with cluster
  pkg/controllers/clusterops/controller.go
  pkg/controllers/clusterops/controller_test.go
Labels: kind/bug, approved, lgtm

#891 Update renew certs groups
  playbooks/renew-certs.yml
Labels: kind/bug

#869 Update release process
  docs/overrides/assets/images/lock_kubespray_commit.png
  docs/overrides/assets/prototypes/lock_kubespray_commit.drawio
  release-process.md
Labels: approved, lgtm, kind/documentation
