Repository kubean-io/kubean, pull requests merged in 2023-06, with the labels that each got.

#784 add field to identify image repo scheme
  api/apis/manifest/v1alpha1/types.go
  api/apis/manifest/v1alpha1/zz_generated.deepcopy.go
  api/charts/crds/kubean.io_clusteroperations.yaml
  api/charts/crds/kubean.io_manifests.yaml
  api/generated/cluster/cluster/clientset/versioned/clientset.go
  api/generated/cluster/cluster/clientset/versioned/fake/register.go
  api/generated/cluster/cluster/clientset/versioned/scheme/register.go
  api/generated/cluster/cluster/informers/externalversions/factory.go
  api/generated/clusteroperation/clusteroperation/clientset/versioned/clientset.go
  api/generated/clusteroperation/clusteroperation/clientset/versioned/fake/register.go
  api/generated/clusteroperation/clusteroperation/clientset/versioned/scheme/register.go
  api/generated/clusteroperation/clusteroperation/informers/externalversions/factory.go
  api/generated/localartifactset/localartifactset/clientset/versioned/clientset.go
  api/generated/localartifactset/localartifactset/clientset/versioned/fake/register.go
  api/generated/localartifactset/localartifactset/clientset/versioned/scheme/register.go
  api/generated/localartifactset/localartifactset/informers/externalversions/factory.go
  api/generated/manifest/manifest/clientset/versioned/clientset.go
  api/generated/manifest/manifest/clientset/versioned/fake/register.go
  api/generated/manifest/manifest/clientset/versioned/scheme/register.go
  api/generated/manifest/manifest/informers/externalversions/factory.go
  charts/kubean/crds/kubean.io_clusteroperations.yaml
  charts/kubean/crds/kubean.io_manifests.yaml
  vendor/github.com/kubean-io/kubean-api/apis/manifest/v1alpha1/types.go
Labels: kind/feature, approved, lgtm

#788 add unit-test
  pkg/controllers/cluster/controller_test.go
  pkg/controllers/clusterops/controller.go
  pkg/controllers/clusterops/controller_test.go
Labels: approved, lgtm

#793 check user has sudo_access
  playbooks/precheck.yml
Labels: kind/feature, approved, lgtm

#791 support tencentos 3.1
  .github/workflows/auto-release-ci.yaml
  .github/workflows/call-os-pkgs-build.yaml
  artifacts/import_iso.sh
  build/os-packages/Dockerfile.tencent31
  build/os-packages/README.md
  build/os-packages/packages.yml
  build/os-packages/repos/tencentos.repo
  playbooks/enable-repo.yml
  playbooks/kubeconfig.yml
Labels: kind/feature, approved

#797 update import iso sh
  artifacts/import_iso.sh
Labels: kind/feature, approved

#800 Update os package for tencentos
  build/os-packages/Dockerfile.tencent31
  build/os-packages/packages.yml
Labels: kind/feature, approved

#802 fix trap issue
  artifacts/import_iso.sh
Labels: kind/feature, approved, lgtm

#803 update kube version to v1.26.5
  .github/workflows/call-offline-build.yaml
  artifacts/kindClusterConfig/kubean-host-offline.yml
  artifacts/kindClusterConfig/kubean-host.yml
  artifacts/manage_version_cr.sh
  hack/local-up-kindcluster.sh
  test/offline-common/vars-conf-cm.yml
Labels: kind/feature, approved, lgtm

#805 detect dual_stack network
  playbooks/precheck.yml
Labels: kind/feature, approved, lgtm

#807 Add auto bump pause version
  artifacts/generate_offline_package.sh
Labels: kind/bug, approved

#809 optimize check sudo_access
  playbooks/precheck.yml
Labels: kind/bug, approved

#816 [e2e test] change kindest version to v1.26.4
  hack/e2e.sh
  hack/local-up-kindcluster.sh
  hack/offline-e2e.sh
Labels: lgtm

#822 optimize accelerate address
  artifacts/generate_offline_package.sh
  artifacts/offline_patch.py
Labels: approved, lgtm

#825 add import iso script to release assets
  .github/workflows/auto-release-ci.yaml
  .github/workflows/call-offline-build.yaml
  .github/workflows/call-save-release-notes.yaml
Labels: kind/feature, approved, lgtm

#821 [docs] update en/zh usage files
  docs/en/usage/airgap_patch_usage.md
  docs/en/usage/sshkey_deploy_cluster.md
  docs/zh/usage/airgap_patch_usage.md
  docs/zh/usage/sshkey_deploy_cluster.md
Labels: lgtm, kind/documentation

#827 separate resource build from e2e step
  .github/workflows/e2e_offline.yaml
  hack/e2e.sh
  hack/kubean_resource.sh
  hack/local-up-kindcluster.sh
  hack/offline-e2e.sh
  hack/offline-util.sh
  hack/offline_run_amd64.sh
  hack/offline_run_arm64.sh
  hack/resouce_util.sh
  hack/run-sonobouy-e2e.sh
  hack/util.sh
  test/kubean_ipvs_cluster_e2e/create_ipvs_cluster_test.go
Labels: kind/feature, lgtm

#829 update the e2e case list
  docs/overrides/test/kubean_testcase.md
  test/offline-common/kubeanClusterOps.yml
Labels: kind/cleanup, lgtm

#830 optimize check vip
  playbooks/kubeconfig.yml
Labels: kind/bug, approved, lgtm

#831 fix spray-job endTime when operator crashed And return pkg_mgr info
  pkg/controllers/clusterops/controller.go
  pkg/controllers/clusterops/controller_test.go
  playbooks/precheck.yml
Labels: kind/bug, approved

#840 Update deploy script for main CI
  .github/workflows/call-cd.yaml
  Makefile
  hack/local-chart-to-deploy.sh
Labels: kind/feature, approved, lgtm

#842 fix helm client-side throttling
  hack/local-chart-to-deploy.sh
Labels: approved, lgtm, kind/flake

#841 apply for a seat to maintain docs
  MAINTAINERS.md
Labels: approved, kind/documentation

#834 [docs] fix a term `模板`
  docs/zh/usage/all-in-one-install.md
  docs/zh/usage/mirror-install.md
  docs/zh/usage/scale-worknode.md
  docs/zh/usage/uninstall.md
  docs/zh/usage/upgrade.md
Labels: kind/cleanup, lgtm, kind/documentation

#833 [docs] fix indentations in theory_of_airgapped_package.md
  docs/en/concepts/theory_of_airgapped_package.md
  docs/zh/concepts/theory_of_airgapped_package.md
Labels: kind/cleanup, lgtm, kind/documentation

#832 [docs] update custom_action
  docs/en/concepts/custom_action.md
  docs/en/usage/mirror-install.md
  docs/zh/concepts/custom_action.md
Labels: kind/documentation

#844 fix version parse in manage_version_cr.sh
  artifacts/manage_version_cr.sh
Labels: kind/bug, approved, lgtm

#845 doc: install with non-root user
  docs/README.md
  docs/en/usage/all_in_one_install.md
  docs/en/usage/helm_install_kubean.md
  docs/en/usage/install_without_root.md
  docs/en/usage/mirror_install.md
  docs/en/usage/scale_worknode.md
  docs/en/usage/sshkey_deploy_cluster.md
  docs/mkdocs.en.yml
  docs/mkdocs.zh.yml
  docs/requirements.txt
  docs/zh/usage/all_in_one_install.md
  docs/zh/usage/helm_install_kubean.md
  docs/zh/usage/install_without_root.md
  docs/zh/usage/mirror_install.md
  docs/zh/usage/scale_worknode.md
  docs/zh/usage/sshkey_deploy_cluster.md
  docs/zh/usage/support_k8s_version.md
Labels: approved, lgtm, kind/documentation

#849 [test] release CI auto to update the 'k8s supported version range list'
  hack/autoversion.sh
  hack/e2e.sh
Labels: kind/feature, lgtm

#846 [CI failure]retry to get pod name and state running
  test/tools/service.go
Labels: kind/feature, lgtm

#847 docs: update usage/install
  docs/en/usage/install.md
  docs/zh/usage/install.md
Labels: lgtm, kind/documentation

#855 [e2e case ] add runner vm (vipadd) and fix readme
  README.md
  hack/run-vip.sh
  hack/util.sh
  test/kubean_3master_vip_e2e/create_3master_vip_test.go
  test/tools/config.go
Labels: kind/bug, lgtm

#850 [docs] resolve documentation issue 824,360,359,250
  docs/zh/usage/airgap.md
Labels: lgtm, kind/documentation

#859 fix kubespray package
  build/images/kubespray/Dockerfile
Labels: kind/bug, approved, lgtm

#860 Optimize Reconcile Requeue
  pkg/controllers/clusterops/controller.go
  pkg/controllers/infomanifest/controller.go
  pkg/controllers/offlineversion/controller.go
Labels: kind/bug, approved, lgtm
