Repository kubean-io/kubean, pull requests merged in 2023-04, with the labels that each got.

#624 fix remount iso
  artifacts/import_iso.sh
Labels: approved, lgtm

#622 adding flannel、kube-ovn to manifest cr
  artifacts/manage_version_cr.sh
  artifacts/template/localartifactset.template.yml
  artifacts/template/manifest.template.yml
Labels: kind/feature, lgtm

#625 Add code-of-conduct and CONTRIBUTING documentation
  CONTRIBUTING.md
  OWNERS
  code-of-conduct.md
  docs/images/wechat.png
Labels: approved, lgtm, kind/documentation

#626 remove redundant docker os_pkgs
  build/os-packages/packages.yml
Labels: approved, kind/cleanup, lgtm

#628 support openEuler
  .github/workflows/call-os-pkgs-build.yaml
  artifacts/import_iso.sh
  build/os-packages/Dockerfile.openeuler
  build/os-packages/packages.yml
  build/os-packages/repos/openeuler.repo
Labels: kind/feature, approved, lgtm

#629 optimize import iso openeuler
  .github/workflows/call-os-pkgs-build.yaml
  artifacts/import_iso.sh
  build/os-packages/Dockerfile.openeuler22.03
  build/os-packages/repos/openeuler_22.03.repo
Labels: kind/bug, approved, lgtm

#627 support other linux in AirGap scenario
  .github/workflows/auto-pr-ci.yaml
  build/os-packages/others/README.md
  build/os-packages/others/other_os_pkgs.sh
  build/os-packages/others/pkgs.yml
Labels: kind/feature, approved

#630 update pkgs.yml
  build/os-packages/others/pkgs.yml
Labels: kind/feature, approved

#632 add openeuler ospkg
  build/os-packages/packages.yml
Labels: approved, kind/cleanup, lgtm

#640 Support import ISO data to local path
  artifacts/import_iso.sh
  docs/zh/offline.md
Labels: kind/feature, approved, lgtm

#641 Add Dependabot
  .github/dependabot.yml
Labels: kind/feature, approved

#651 Fix import_iso.sh
  artifacts/import_iso.sh
Labels: kind/bug, approved, lgtm

#653 set pr-ci nightly-ci run time-limit to 16h
  .github/workflows/auto-pr-ci.yaml
  .github/workflows/e2e_offline.yaml
  .github/workflows/e2e_schedule.yaml
Labels: kind/feature, approved, lgtm

#655 include dockerfile on ospkg cache judgment include
  build/os-packages/check_rebuild_pkgs.sh
Labels: approved, kind/cleanup, lgtm

#656 doc: fix english doc broken link
  README.md
Labels: approved, kind/cleanup, lgtm

#657 add speedup offline packages
  .github/workflows/auto-release-ci.yaml
  .github/workflows/call-speedup-offline-packags.yaml
Labels: kind/feature, lgtm

#661 Add Roadmap
  docs/en/roadmap.md
  docs/zh/roadmap.md
Labels: approved, kind/documentation

#662 generate offline package for flannel
  artifacts/generate_offline_package.sh
Labels: kind/bug

#663 add unsafe_show_logs to debug the download failed resource
  test/common/vars-conf-cm.yml
Labels: kind/feature

#654 update redaht8 related e2e case
  docs/test/kubean_testcase.md
  hack/offline-e2e.sh
  hack/offline-util.sh
  hack/offline_run_amd64.sh
  hack/offline_run_centos.sh
  hack/run-network-e2e.sh
  hack/run-nightly-cluster-e2e.sh
  hack/run-sonobouy-e2e.sh
  hack/util.sh
  test/kubean_calico_dualstack_e2e/kubean_calico_dual_stack_test.go
  test/kubean_calico_nightlye2e/e2e-install-calico-cluster/hosts-conf-cm.yml
  test/kubean_calico_nightlye2e/e2e-install-calico-cluster/kubeanClusterOps.yml
  test/kubean_calico_single_stack_e2e/kubean_calico_single_stack_test.go
  test/kubean_calico_single_stack_e2e/kubean_suite_test.go
  test/kubean_cilium_cluster_e2e/create_cilium_cluster_test.go
  test/tools/config.go
  test/tools/service.go
  test/tools/utils.go
Labels: kind/feature, lgtm

#666 fix: ignore actionSourceRef not set
  api/apis/clusteroperation/v1alpha1/types.go
  api/charts/crds/kubean.io_clusteroperations.yaml
  api/charts/crds/kubean.io_clusters.yaml
  api/charts/crds/kubean.io_localartifactsets.yaml
  api/charts/crds/kubean.io_manifests.yaml
  charts/kubean/crds/kubean.io_clusteroperations.yaml
  charts/kubean/crds/kubean.io_clusters.yaml
  charts/kubean/crds/kubean.io_localartifactsets.yaml
  charts/kubean/crds/kubean.io_manifests.yaml
  vendor/kubean.io/api/apis/clusteroperation/v1alpha1/types.go
Labels: kind/bug, approved, lgtm

#667 optimize generate crds
  api/charts/crds/kubean.io_clusteroperations.yaml
  api/charts/crds/kubean.io_clusters.yaml
  api/charts/crds/kubean.io_localartifactsets.yaml
  api/charts/crds/kubean.io_manifests.yaml
  api/generated/cluster/cluster/clientset/versioned/fake/register.go
  api/generated/cluster/cluster/clientset/versioned/scheme/register.go
  api/generated/clusteroperation/clusteroperation/clientset/versioned/fake/register.go
  api/generated/clusteroperation/clusteroperation/clientset/versioned/scheme/register.go
  api/generated/localartifactset/localartifactset/clientset/versioned/fake/register.go
  api/generated/localartifactset/localartifactset/clientset/versioned/scheme/register.go
  api/generated/manifest/manifest/clientset/versioned/fake/register.go
  api/generated/manifest/manifest/clientset/versioned/scheme/register.go
  api/hack/update-crdgen.sh
  charts/kubean/crds/kubean.io_clusteroperations.yaml
  charts/kubean/crds/kubean.io_clusters.yaml
  charts/kubean/crds/kubean.io_localartifactsets.yaml
  charts/kubean/crds/kubean.io_manifests.yaml
Labels: kind/bug, approved, lgtm

#670 add UT
  pkg/util/entrypoint/entrypoint_test.go
Labels: kind/feature, approved, lgtm

#672 kubean install on none kubean-system ns e2e
  hack/e2e.sh
  hack/run-network-e2e.sh
  test/kubean_cilium_cluster_e2e/create_cilium_cluster_test.go
  test/tools/service.go
Labels: kind/feature

#676 fix speedup offline package
  .github/workflows/auto-release-ci.yaml
  .github/workflows/call-speedup-offline-packags.yaml
Labels: kind/feature, lgtm

#671 [docs] update and translate theory-of-air-gapped-package.md
  docs/en/theory-of-air-gapped-package.md
  docs/zh/theory-of-air-gapped-package.md
Labels: approved, lgtm, kind/documentation

#680 cleanup: replace pkg ioutil with os
  pkg/util/cluster.go
  test/tools/utils.go
Labels: kind/cleanup

#683 update e2e case md
  docs/test/kubean_testcase.md
Labels: kind/feature, approved, lgtm

#684 fix create job occasionally unsuccessfully from ops
  pkg/controllers/clusterops/controller.go
  pkg/controllers/clusterops/controller_test.go
Labels: kind/bug, approved, lgtm
