Repository kubean-io/kubean, pull requests merged in 2023-01, with the labels that each got.

#450 update kubean logo
  README.md
  docs/images/kubean-logo.png
Labels: approved, kind/documentation

#451 update os compatibility e2e to vm
  .github/workflows/os_e2e_schedule.yaml
  hack/e2e.sh
  hack/offline-e2e.sh
  hack/offline-util.sh
  hack/offline_run_arm64.sh
  hack/os_vagrantfiles/Vagrantfile_centos76
  hack/os_vagrantfiles/Vagrantfile_rhel76
  hack/os_vagrantfiles/Vagrantfile_rhel84
  hack/run-e2e.sh
  hack/run-os-compatibility-e2e.sh
  hack/util.sh
  test/common/vars-conf-cm.yml
  test/kubean_os_compatibility_e2e/e2e-install-cluster/hosts-conf-cm.yml
  test/kubean_os_compatibility_e2e/e2e-install-cluster/kubeanClusterOps.yml
  test/kubean_os_compatibility_e2e/kubean_cluster_os_compatibility_test.go
  test/offline-common/vars-conf-cm.yml
Labels: kind/feature, lgtm

#455 update nightly e2e passwd to secret
  test/kubean_calico_nightlye2e/kubean_network_calico_test.go
Labels: kind/feature, lgtm

#456 add secrets parameter in os compatibility workflow yaml
  .github/workflows/os_e2e_schedule.yaml
Labels: kind/feature, lgtm

#452 Remove versions.json
  versions.json
Labels: kind/cleanup, lgtm

#457 optimize hardcode namespace
  charts/kubean/Chart.yaml
  playbooks/kubeconfig.yml
Labels: kind/bug, approved, lgtm

#458 Support import for ubuntu iso
  artifacts/gen_repo_conf.sh
  artifacts/import_iso.sh
  docs/zh/offline.md
Labels: kind/feature, lgtm

#462 Add spray job timeout
  api/apis/clusteroperation/v1alpha1/types.go
  api/apis/clusteroperation/v1alpha1/zz_generated.deepcopy.go
  api/charts/crds/kubean.io_clusteroperations.yaml
  api/generated/cluster/cluster/clientset/versioned/fake/register.go
  api/generated/cluster/cluster/clientset/versioned/scheme/register.go
  api/generated/clusteroperation/clusteroperation/clientset/versioned/fake/register.go
  api/generated/clusteroperation/clusteroperation/clientset/versioned/scheme/register.go
  api/generated/localartifactset/localartifactset/clientset/versioned/fake/register.go
  api/generated/localartifactset/localartifactset/clientset/versioned/scheme/register.go
  api/generated/manifest/manifest/clientset/versioned/fake/register.go
  api/generated/manifest/manifest/clientset/versioned/scheme/register.go
  charts/kubean/Chart.yaml
  charts/kubean/crds/kubean.io_clusteroperations.yaml
  pkg/controllers/clusterops/controller.go
  pkg/controllers/clusterops/controller_test.go
  vendor/kubean.io/api/apis/clusteroperation/v1alpha1/types.go
  vendor/kubean.io/api/apis/clusteroperation/v1alpha1/zz_generated.deepcopy.go
Labels: kind/feature, approved, lgtm

#459 add apt repo in enable-repo playbook
  artifacts/offlineDemo/kubeanClusterOps.yml
  build/os-packages/Dockerfile.centos7
  build/os-packages/Dockerfile.kylinv10
  build/os-packages/Dockerfile.redhat7
  build/os-packages/Dockerfile.redhat8
  build/os-packages/Dockerfile.redhat8.bak
  build/os-packages/Dockerfile.ubuntu1804
  build/os-packages/Dockerfile.ubuntu2004
  build/os-packages/packages.yml
  docs/en/offline.md
  docs/zh/offline.md
  playbooks/enable-repo.yml
  test/offline-common/kubeanClusterOps.yml
Labels: kind/feature, approved, lgtm

#464 Update the check scripts for building os packages
  build/os-packages/Dockerfile.ubuntu1804
  build/os-packages/Dockerfile.ubuntu2004
  build/os-packages/check_rebuild_pkgs.sh
Labels: kind/bug, approved

#466 fix nightly e2e helm version set
  .github/workflows/e2e_schedule.yaml
Labels: kind/feature, approved, lgtm

#468 support charts syncer
  .github/workflows/auto-pr-ci.yaml
  .github/workflows/auto-release-ci.yaml
  charts/kubean/.relok8s-images.yaml
  charts/kubean/Chart.yaml
  charts/kubean/templates/_helpers.tpl
  charts/kubean/templates/deployment.yaml
  charts/kubean/templates/service.yaml
  charts/kubean/templates/serviceaccount.yaml
  charts/kubean/values.yaml
Labels: kind/feature, approved, lgtm

#471 update restore apt condition in enable-repo playbook
  playbooks/enable-repo.yml
Labels: kind/bug, approved

#474 Update action version for workflows
  .github/workflows/auto-release-ci.yaml
  .github/workflows/call-image-build-kubespray.yaml
  .github/workflows/call-images-build.yaml
  .github/workflows/call-offline-build.yaml
  .github/workflows/call-os-pkgs-build.yaml
  .github/workflows/call-save-release-notes.yaml
  .github/workflows/manual-incremental-packages.yaml
  build/images/airgap-patch/Dockerfile
  build/os-packages/Dockerfile.centos7
  build/os-packages/Dockerfile.kylinv10
  build/os-packages/Dockerfile.redhat7
  build/os-packages/Dockerfile.redhat8
  build/os-packages/Dockerfile.redhat8.bak
  build/os-packages/Dockerfile.ubuntu1804
  build/os-packages/Dockerfile.ubuntu2004
  hack/run-sonobouy-e2e.sh
Labels: kind/feature, approved

#475 add redhat offline e2e
  .github/workflows/auto-pr-ci.yaml
  .github/workflows/e2e_offline.yaml
  .github/workflows/os_e2e_schedule.yaml
  hack/Vagrantfile
  hack/e2e.sh
  hack/offline-e2e.sh
  hack/offline-util.sh
  hack/offline_run_amd64.sh
  hack/offline_run_arm64.sh
  hack/run-e2e.sh
  hack/run-os-compatibility-e2e.sh
  hack/test_images.list
  hack/vm_name.list
  test/kubean_os_compatibility_e2e/kubean_cluster_os_compatibility_test.go
  test/offline-common/kubeanClusterOps.yml
Labels: kind/feature

#476 update case md
  docs/test/kubean_testcase.md
Labels: kind/feature

#478 add unit test
  pkg/controllers/cluster/controller.go
  pkg/controllers/cluster/controller_test.go
Labels: kind/feature, approved, lgtm
