Repository kubean-io/kubean, pull requests merged in 2023-03, with the labels that each got.

#536 Update e2e_schedule.yaml
  .github/workflows/e2e_schedule.yaml
Labels: kind/bug, lgtm

#533 fix variable definition
  test/kubeanOps_functions_nightlye2e/kubeanOps_test.go
Labels: kind/bug, lgtm, kind/failing-test

#537 fix spray-job container name
  pkg/controllers/clusterops/controller.go
Labels: kind/bug, approved, lgtm

#538 fix cluster status.conditions.startTime and endTime invalid value null
  api/apis/cluster/v1alpha1/types.go
  vendor/kubean.io/api/apis/cluster/v1alpha1/types.go
Labels: kind/bug, approved, lgtm

#539 fix clusteroperation multi field invalid value null
  api/apis/clusteroperation/v1alpha1/types.go
  vendor/kubean.io/api/apis/clusteroperation/v1alpha1/types.go
Labels: kind/bug, approved, lgtm

#540 Support custom action
  README.md
  api/apis/clusteroperation/v1alpha1/types.go
  api/apis/clusteroperation/v1alpha1/zz_generated.deepcopy.go
  api/apis/manifest/v1alpha1/types.go
  api/charts/crds/kubean.io_clusteroperations.yaml
  api/generated/cluster/cluster/clientset/versioned/fake/register.go
  api/generated/cluster/cluster/clientset/versioned/scheme/register.go
  api/generated/clusteroperation/clusteroperation/clientset/versioned/fake/register.go
  api/generated/clusteroperation/clusteroperation/clientset/versioned/scheme/register.go
  api/generated/localartifactset/localartifactset/clientset/versioned/fake/register.go
  api/generated/localartifactset/localartifactset/clientset/versioned/scheme/register.go
  api/generated/manifest/manifest/clientset/versioned/fake/register.go
  api/generated/manifest/manifest/clientset/versioned/scheme/register.go
  charts/kubean/crds/kubean.io_clusteroperations.yaml
  docs/zh/custom_action.md
  pkg/controllers/clusterops/controller.go
  pkg/controllers/clusterops/controller_test.go
  pkg/util/entrypoint/entrypoint.go
  pkg/util/entrypoint/entrypoint_test.go
  vendor/kubean.io/api/apis/clusteroperation/v1alpha1/types.go
  vendor/kubean.io/api/apis/clusteroperation/v1alpha1/zz_generated.deepcopy.go
  vendor/kubean.io/api/apis/manifest/v1alpha1/types.go
Labels: kind/feature, lgtm

#543 Reduce centos7 package size
  build/os-packages/Dockerfile.centos7
Labels: kind/feature, approved

#546 Update CD about helm cmd vars
  hack/local-chart-to-deploy.sh
Labels: approved, lgtm, kind/failing-test

#547 provide auto ci of k8s version compatibility
  .github/workflows/auto-kubean-compatibility-schedule.yaml
  README.md
  hack/e2e.sh
  hack/kubean_compatibility_e2e.sh
  test/kubean_k8s_compatibility_e2e/kubean_k8s_compatibility_test.go
  test/kubean_k8s_compatibility_e2e/kubean_suite_test.go
Labels: kind/feature

#552 Support upgrade kubean CRDs by helm
  charts/kubean/templates/_helpers.tpl
  charts/kubean/templates/prehook-job.yml
Labels: kind/bug, lgtm

#554 Fix charts rendering exception
  api/charts/crds/kubean.io_clusteroperations.yaml
  api/charts/crds/kubean.io_clusters.yaml
  api/charts/crds/kubean.io_localartifactsets.yaml
  api/charts/crds/kubean.io_manifests.yaml
  charts/kubean/crds/kubean.io_clusteroperations.yaml
  charts/kubean/crds/kubean.io_clusters.yaml
  charts/kubean/crds/kubean.io_localartifactsets.yaml
  charts/kubean/crds/kubean.io_manifests.yaml
  charts/kubean/templates/prehook-job.yml
Labels: lgtm, kind/failing-test

#555 support pre-check playbook
  pkg/util/entrypoint/entrypoint.go
  playbooks/precheck.yml
Labels: kind/feature, approved, lgtm

#556 Fix incorrect rendered template
  charts/kubean/templates/_helpers.tpl
Labels: approved, lgtm, kind/failing-test

#559 optimize pre-check playbook
  playbooks/precheck.yml
Labels: kind/feature, approved, lgtm

#560 add ut
  pkg/controllers/clusterops/controller_test.go
Labels: approved, lgtm

#564 Set offline-pkg default k8s version to 1.25.4
  .github/workflows/call-offline-build.yaml
Labels: approved, lgtm

#561 Add Others OS package build method
  .github/workflows/auto-release-ci.yaml
  build/os-packages/README.md
  build/os-packages/others/uos_v20/README.md
  build/os-packages/others/uos_v20/build.sh
Labels: kind/feature, approved

#557 fix offline e2e and update iptables e2e test
  .github/workflows/e2e_offline.yaml
  docs/test/kubean_testcase.md
  docs/test/testcase_details/create_cluster.md
  test/kubean_functions_e2e/kubean_cluster_install_test.go
Labels: kind/feature, approved, lgtm

#563 fix main branch: auto-kubean-compatibility-schedule.yaml was modified incorrectly
  .github/workflows/auto-kubean-compatibility-schedule.yaml
Labels: approved, lgtm

#558 fix the wrong image tag when the main ci builds images.
  .github/workflows/call-images-build.yaml
Labels: kind/bug, lgtm

#566 Fix image name when push, and update the default k8s version to 1.26.0, fix kube_version of offline e2e
  .github/workflows/auto-kubean-compatibility-schedule.yaml
  .github/workflows/auto-pr-ci.yaml
  .github/workflows/os_e2e_schedule.yaml
  hack/e2e.sh
  hack/offline-e2e.sh
  test/offline-common/vars-conf-cm.yml
Labels: kind/bug

#568 add unit-test
  pkg/controllers/cluster/controller_test.go
  pkg/controllers/clusterops/controller_test.go
  pkg/controllers/infomanifest/controller_test.go
Labels: approved, lgtm

#570 support import iso for uniontech
  artifacts/import_iso.sh
  build/os-packages/others/uos_v20/build.sh
  docs/en/offline.md
  docs/zh/offline.md
Labels: kind/feature, approved

#571 add node affinity for chart
  charts/kubean/templates/_helpers.tpl
  charts/kubean/values.yaml
Labels: kind/feature, approved

#572 fix airgap patch image build and push
  .github/workflows/auto-kubean-compatibility-schedule.yaml
  .github/workflows/auto-pr-ci.yaml
  .github/workflows/os_e2e_schedule.yaml
Labels: kind/bug

#575 support unionTech for enable repo playbook
  playbooks/enable-repo.yml
Labels: kind/bug, approved

#579 update anti affinity for kubean
  charts/kubean/templates/_helpers.tpl
  charts/kubean/values.yaml
Labels: kind/feature, approved

#578 set helm upgrade timeout and sprayJob tag
  hack/local-chart-to-deploy.sh
Labels: kind/bug, lgtm

#577 fix: update offline usage docs
  docs/en/offline.md
  docs/zh/offline.md
Labels: lgtm, kind/documentation

#582 add theory-of-air-gapped-package
  docs/en/theory-of-air-gapped-package.md
Labels: approved

#583 Update build script for UOS
  build/os-packages/others/uos_v20/README.md
  build/os-packages/others/uos_v20/build.sh
Labels: kind/feature, approved, lgtm

#584 optimize airgap patch
  artifacts/generate_offline_package.sh
  artifacts/import_files.sh
  artifacts/offline_patch.py
  build/images/airgap-patch/Dockerfile
Labels: kind/feature, approved, lgtm

#586 fix mv no such file in RHEL
  playbooks/enable-repo.yml
Labels: kind/bug, approved, lgtm

#588 optimize airgap patch image
  artifacts/offline_patch.py
Labels: kind/bug, approved

#589 change runner1 e2e ips
  hack/util.sh
Labels: kind/bug, lgtm

#581 fix wrong tag of cd when running main ci
  .github/workflows/auto-main-ci.yaml
  .github/workflows/call-cd.yaml
Labels: kind/bug

#591 add call-cd params in main ci and release ci
  .github/workflows/auto-main-ci.yaml
  .github/workflows/auto-release-ci.yaml
Labels: kind/bug, lgtm

#592 add extra binary for airgap-patch
  artifacts/offline_patch.py
Labels: kind/bug, approved, lgtm

#594 add create cilium cluster e2e test
  README.md
  docs/test/kubean_testcase.md
  docs/test/testcase_details/create_cluster.md
  hack/run-network-e2e.sh
  test/kubean_cilium_cluster_e2e/create_cilium_cluster_test.go
  test/kubean_cilium_cluster_e2e/kubean_suite_test.go
Labels: lgtm, kind/e2e-test

#595 remove registry.k8s.io/pause:3.4
  artifacts/offline_patch.py
Labels: approved, lgtm

#597 clean unnecessary files
  api/hack/util.sh
Labels: approved, kind/cleanup, lgtm

#598 add debugger2 vms and debug cilium cluster
  hack/run-network-e2e.sh
  hack/util.sh
Labels: kind/feature

#600 Precheck Result Configmap
  api/apis/cluster/v1alpha1/types.go
  api/apis/cluster/v1alpha1/zz_generated.deepcopy.go
  api/charts/crds/kubean.io_clusters.yaml
  api/generated/cluster/cluster/clientset/versioned/fake/register.go
  api/generated/cluster/cluster/clientset/versioned/scheme/register.go
  api/generated/clusteroperation/clusteroperation/clientset/versioned/fake/register.go
  api/generated/clusteroperation/clusteroperation/clientset/versioned/scheme/register.go
  api/generated/localartifactset/localartifactset/clientset/versioned/fake/register.go
  api/generated/localartifactset/localartifactset/clientset/versioned/scheme/register.go
  api/generated/manifest/manifest/clientset/versioned/fake/register.go
  api/generated/manifest/manifest/clientset/versioned/scheme/register.go
  artifacts/offline_patch.py
  charts/kubean/crds/kubean.io_clusters.yaml
  playbooks/precheck.yml
  vendor/kubean.io/api/apis/cluster/v1alpha1/types.go
  vendor/kubean.io/api/apis/cluster/v1alpha1/zz_generated.deepcopy.go
Labels: kind/bug, approved, lgtm

#601 fix upgrade failed due to hard affinity
  charts/kubean/values.yaml
Labels: kind/bug, approved

#605 add cilium_kube_proxy_replacement
  hack/run-network-e2e.sh
Labels: kind/bug

#607 download offline files after release ci
  .github/workflows/auto-release-ci.yaml
  hack/download-offline-files.sh
Labels: kind/feature

#613 Fix incorrect data type on ActionSource
  api/apis/clusteroperation/v1alpha1/types.go
  api/apis/clusteroperation/v1alpha1/zz_generated.deepcopy.go
  api/generated/cluster/cluster/clientset/versioned/fake/register.go
  api/generated/cluster/cluster/clientset/versioned/scheme/register.go
  api/generated/clusteroperation/clusteroperation/clientset/versioned/fake/register.go
  api/generated/clusteroperation/clusteroperation/clientset/versioned/scheme/register.go
  api/generated/localartifactset/localartifactset/clientset/versioned/fake/register.go
  api/generated/localartifactset/localartifactset/clientset/versioned/scheme/register.go
  api/generated/manifest/manifest/clientset/versioned/fake/register.go
  api/generated/manifest/manifest/clientset/versioned/scheme/register.go
Labels: kind/bug, approved, lgtm

#608 add multi kubean operator e2e case
  docs/test/kubean_testcase.md
  docs/test/testcase_details/kubean_func.md
  hack/run-network-e2e.sh
  test/kubean_cilium_cluster_e2e/create_cilium_cluster_test.go
Labels: kind/feature, approved, lgtm

#618 Update changes imported by pointer type
  pkg/controllers/clusterops/controller.go
  pkg/controllers/clusterops/controller_test.go
  vendor/kubean.io/api/apis/clusteroperation/v1alpha1/types.go
  vendor/kubean.io/api/apis/clusteroperation/v1alpha1/zz_generated.deepcopy.go
Labels: kind/bug, lgtm
