Repository kubean-io/kubean, pull requests merged in 2024-07, with the labels that each got.

#1294 Simplify kubean download_url format
  docs/en/usage/airgap.md
  docs/zh/usage/airgap.md
  examples/debug/airgap_demo.sh
  examples/debug/debug.sh
  examples/install/2.mirror/VarsConfCM.yml
  examples/install/3.airgap/VarsConfCM.yml
  test/common/vars-conf-cm.yml
  test/offline-common/vars-conf-cm.yml
  test/tools/utils.go
Labels: kind/enhancement

#1295 restart components after renew certs
  playbooks/renew-certs.yml
Labels: kind/enhancement, enhancement

#1297 restart control plane pods after renew certs
  playbooks/renew-certs.yml
Labels: kind/bug

#1296 Use orcalelinux7 instead of centos7
  build/os-packages/Dockerfile.centos7
  build/os-packages/Dockerfile.redhat7
Labels: kind/enhancement

#1298 Add ipset & ipvsadm to os packages
  build/os-packages/packages.yml
Labels: kind/enhancement, enhancement

#1300 fix CVE-2024-24790
  .github/workflows/auto-compatibility-schedule.yaml
  .github/workflows/auto-main-ci.yaml
  .github/workflows/auto-pr-ci.yaml
  .github/workflows/e2e_schedule.yaml
  .github/workflows/kubean_e2e_test_ci.yaml
  .github/workflows/os_e2e_schedule.yaml
  .github/workflows/verify-kubespray.yaml
  build/images/kubean-admission/Dockerfile
  build/images/kubean-operator/Dockerfile
  build/images/kubespray/Dockerfile
  go.mod
  go.sum
Labels: kind/enhancement, enhancement

#1323 [e2e]fix os repo in arm-offline-e2e
  hack/offline_run_arm64.sh
Labels: kind/e2e-test
