Repository kubean-io/kubean, pull requests merged in 2024-03, with the labels that each got.

#1146 Remove etcd from optional component version information
  artifacts/airgap_patch.py
  artifacts/template/localartifactset.template.yml
  artifacts/template/manifest.template.yml
Labels: kind/bug

#1152 refactoring custom resource generate script
  .github/workflows/call-offline-build.yaml
  .github/workflows/manual-kubespray-release.yaml
  artifacts/airgap_patch.py
  artifacts/cr_template.py
  artifacts/gen_airgap_crs.py
  artifacts/gen_artifact_doc.py
  artifacts/manage_version_cr.sh
  artifacts/template/localartifactset.template.yml
  artifacts/template/manifest.template.yml
  build/images/airgap-patch/Dockerfile
  charts/kubean/templates/manifest.cr.yaml
  docs/en/concepts/crds.md
  docs/zh/concepts/crds.md
  hack/kindClusterConfig/kubean-host-offline.yml
  hack/kindClusterConfig/kubean-host.yml
  hack/local-up-kindcluster.sh
  hack/resouce_util.sh
Labels: kind/enhancement, CI, enhancement

#1153 clean unused files
  .gitignore
  MAINTAINERS.md
  api/tests/a/keepimports.go
  artifacts/__pycache__/cr_template.cpython-310.pyc
  config/kind/host.yaml
  config/kind/member1.yaml
  config/kind/member2.yaml
Labels: kind/cleanup

#1179 playbook: mount xfs device with pquota option
  .ansible-lint
  pkg/util/entrypoint/entrypoint.go
  playbooks/mount-xfs-pquota.yml
Labels: kind/feature

#1186 Chore: update chart readme
  Makefile
  charts/kubean/README.md
  charts/kubean/values.yaml
Labels: kind/documentation, CI
