Repository kubean-io/kubean, pull requests merged in 2024-08, with the labels that each got.

#1338 [Test]fix network e2e
  hack/run-network-e2e.sh
Labels: kind/e2e-test

#1350 bump kubespray version
  version.yml
Labels: kind/enhancement

#1351 fix rls version handing in artifacts doc
  artifacts/gen_artifact_doc.py
Labels: kind/bug

#1347 [Test]Use ls -l instead of ll
  hack/resouce_util.sh
Labels: kind/e2e-test
