Repository kubean-io/kubean, pull requests merged in 2024-11, with the labels that each got.

#1393 [Test] Remove centos7 from the test list
  hack/resouce_util.sh
Labels: kind/e2e-test

#1394 [Test]Replacement check items for rocky8
  hack/resouce_util.sh
Labels: kind/e2e-test

#1396 [Test] Replace the centos7 test label with rocky8
  .github/workflows/kubean_e2e_test_ci.yaml
  hack/download-offline-files.sh
  hack/network_testcase.sh
  hack/offline-util.sh
  hack/offline_run_centos.sh
  hack/resouce_util.sh
  hack/run-e2e.sh
  hack/run-network-e2e.sh
  hack/run-sonobouy-e2e.sh
  hack/run-vip.sh
  hack/util.sh
  hack/vm_config.yaml
Labels: kind/e2e-test

#1398 optimize tool scripts for other os packages
  .github/workflows/call-offline-build.yaml
  build/os-packages/others/README.md
  build/os-packages/others/other_os_pkgs.sh
  build/os-packages/others/pkgs.yml
  version.yml
Labels: kind/enhancement

#1401 [CI] Add support list in release notes markdown
  .github/workflows/call-gen-release-notes.yaml
  hack/autoversion.sh
Labels: CI

#1403 [Test] Upgrade k8s version to 1.30.5
  .github/workflows/verify-kubespray.yaml
  hack/run-nightly-cluster-e2e.sh
  hack/yml_utils.sh
  test/common/vars-conf-cm.yml
  test/offline-common/vars-conf-cm.yml
  test/tools/config.go
Labels: kind/e2e-test

#1405 [Test] Fixed the issue that rocky8 cannot select the correct kubeanClusterOps.yml in e2e test
  hack/run-network-e2e.sh
Labels: kind/e2e-test

#1409 [CI] Add support list in release notes body
  .github/workflows/auto-pr-ci.yaml
  .github/workflows/call-gen-release-notes.yaml
  hack/autoversion.sh
Labels: CI

#1413 [Test]Optimize the generation method of rocky-kubeanclusterops
  hack/offline_run_centos.sh
  hack/run-network-e2e.sh
Labels: kind/e2e-test

#1414 [doc]Fix the incorrect Default Kubernetes Version
  docs/zh/usage/support_k8s_version.md
  test/offline-common/kubeanClusterOps-rocky.yml
Labels: docs

#1415 [Test]Update the Cluster Type in calicoctl version to v3.28.1
  test/kubean_sonobouy_nightlye2e/kubean_cluster_sonobouy_test.go
Labels: kind/e2e-test

#1421 [Test]Remove redundant operations on kubeanClusterOps.yml
  hack/run-network-e2e.sh
Labels: kind/e2e-test
