Repository kubean-io/kubean, pull requests merged in 2024-06, with the labels that each got.

#1268 bump kube_version to v1.29
  version.yml
Labels: kind/enhancement

#1269 add docker 26.1 to os packages
  .github/workflows/os-pkgs-matrix.json
  build/os-packages/Dockerfile.redhat8.bak
  build/os-packages/Dockerfile.ubuntu1804
  build/os-packages/check_rebuild_pkgs.sh
  build/os-packages/packages.yml
Labels: kind/feature

#1270 update rhel8 os package
  build/os-packages/Dockerfile.redhat8
  build/os-packages/repos/centos8.repo
Labels: kind/bug

#1272 update e2e kube verison to v1.29.0
  .github/workflows/verify-kubespray.yaml
  examples/debug/airgap_demo.sh
  hack/run-nightly-cluster-e2e.sh
  hack/yml_utils.sh
  test/common/vars-conf-cm.yml
  test/offline-common/vars-conf-cm.yml
  test/tools/config.go
Labels: kind/e2e-test

#1287 fix config error in e2e upgrade test
  hack/run-nightly-cluster-e2e.sh
Labels: kind/e2e-test
